<section id="acknowledgements" class="group">
  <h2>Acknowledgements</h2>
  <p>
    The Engagement Project was developed by the Project for
    Education Research that Scales (PERTS), an applied research
    center at Stanford University. PERTS helps educators apply
    insights from the learning and developmental sciences so that
    every learner gets the support and stimulation they need to
    thrive.
  </p>
  <p>
    PERTS works with developmental scientists and educators
    across the nation to build tools and services that help schools
    foster student engagement and success. Through our work with
    schools, teachers, and other educational organizations, millions
    of students around the world have benefited from evidence-based
    practices.
  </p>

  <h3>Key Advisors</h3>
  <p>Susan Colby</a>, Founder &amp; CEO, Imagine Worldwide</p>
  <p>Carol Dweck, Professor, Stanford University</p>
  <p>Camille Farrington, Managing Director, UChicago Consortium for School Research</p>
  <p>Becky Margiotta, Principal, Billions Institute</p>
  <p>Jason Okonofua, Assistant Professor, UC Berkeley</p>
  <p>Greg Walton, Associate Professor, Stanford University</p>


  <h3>Key Funders</h3>
  <p>The Raikes Foundation</p>
  <p>The Overdeck Family Foundation</p>
</section>
