{% extends "p4-base.html" %}

{% set title = "Copilot Frequently Asked Questions" %}

{% block title %}
{{ title }} | PERTS
{% endblock %}

{% block meta_description %}
{{ program_tagline }}
{% endblock %}

{% set description = program_tagline %}

{% block head %}
<link rel="stylesheet" href="/static/css/faq.css">
{% endblock %}

{% block content %}
<div class="program-page engage engage-faq">

  <div class="page-masthead page-masthead--centered">
    <div class="background-image"
         image-loader
         image="/static/images/programs/cg17-cover.jpg"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
          <h1>{{ title }}</h1>
          <p>{{ program_tagline }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <!--Main Content -->
      <div class="col-md-9">

        <section id="learning-conditions" class="group">
          <h3>Learning Conditions that Promote Engagement</h3>

          <div id="what-is-learning-engagement" class="subgroup">
            <h4>What do we mean by learning engagement?</h4>
            <p>
              When we talk about engagement, we mean all the actions that
              students must take in order to learn. Engagement includes paying
              attention in class, doing homework, studying, asking questions,
              persisting when work is challenging, and many other behaviors
              that are critical for learning.
            </p>
          </div>

          <div id="why-is-engagement-important" class="subgroup">
            <h4>Why is engagement important?</h4>
            <p>
              With rare exceptions, students only learn when they engage. This
              means that academically engaged students are far more likely to
              learn and succeed in school. Of course, it’s not just about
              grades or test scores—engaged students are better positioned for
              a productive, healthy, and intellectually stimulating life.
              Fortunately, there’s a great deal of research showing what
              learning conditions cultivate students’ engagement, and,
              thereby, set them on the path to a more productive, enriching,
              and secure life.
            </p>
          </div>

          <div id="what-are-learning-conditions" class="subgroup">
            <h4>What are learning conditions?</h4>
            <p>
              Simply put, learning conditions are the internal and external
              experiences students have as they learn. Research shows that
              many conditions affect students’ desire and ability to engage
              with learning. When deciding which learning conditions to focus
              on, PERTS considered several factors:
            </p>
            <ul>
              <li>
                <strong>Is there scientific evidence that the learning
                condition is important for engagement?</strong> The condition
                must have a well-established relationship to student success.
                You can learn about the research base, by reading the
                citations listed beneath that condition at
                <!-- /conditions is a short link in production, and may 404 in
                     other environments -->
                <a href="/conditions">perts.net/conditions</a>.
              </li>
              <li>
                <strong>Can educators directly influence the learning
                condition?</strong> Many conditions affect whether students
                engage effectively. Some of those conditions, like hunger and
                sleep deprivation, can be difficult for educators to directly
                influence. Other learning conditions, meanwhile, are very much
                within educators’ sphere of influence. For example, teachers’
                decisions affect whether students get the frequent, specific
                feedback they need to quickly improve their understanding,
                whether students feel like they belong in class, or whether
                students believe they can be successful in class.
              </li>
              <li>
                <strong>Is it easy to measure?</strong> It must be something
                we can measure regularly enough to see if changes are working.
                If you’re surprised we’re not measuring something or you think
                we should consider measuring something in a different way, let
                us know. As we get more data and more feedback from educators
                and students, our measures will improve.
              </li>
            </ul>
          </div>

          <div id="why-measure-learning-conditions" class="subgroup">
            <h4>Why measure learning conditions?</h4>
            <p>
              If we know <em>why</em> students are disengaged, it is much
              easier to take targeted actions to re-engage them. PERTS helps
              educators assess students’ perceptions of learning conditions
              that influence engagement so that educators can zero in on the
              causes of disengagement and more effectively target their
              efforts to foster engagement.
            </p>
          </div>

          <div id="how-measure-learning-conditions" class="subgroup">
            <h4>How do we measure learning conditions?</h4>
            <p>
              We ask students carefully designed questions that have been
              tested by Stanford University researchers with students and
              teachers. The questions help educators identify how students’
              classroom experiences could be getting in the way of learning.
              This enables educators to take better targeted actions to
              influence these experiences and, thereby, increase students’
              engagement over time.
            </p>
            <p>
              These questions enable educators to understand whether or not
              their student is experiencing a specific learning condition. For
              example, we ask students to agree or disagree with statements
              like, “I feel like my teacher is glad that I am in their class.”
              All of the learning condition questions are listed alongside
              their learning condition at
              <!-- /conditions is a short link in production, and may 404 in
                   other environments -->
              <a href="/conditions">perts.net/conditions</a>.
            </p>
            <p>
              We also ask students to explain their answer to one randomly
              selected question. This provides teachers with more insight into
              what’s driving students’ answers. And it prompts students to
              slow down and be thoughtful about their answers.
            </p>
            <p>
             We designed open ended questions to survey different learning
             conditions but educators can choose which ones to ask their
             students.
            </p>
          </div>

          <div id="what-else-student-survey" class="subgroup">
            <h4>What else are students asked on the survey?</h4>
            <p>
              PERTS surveys periodically ask students several questions in
              addition to the <a
              href="#how-measure-learning-conditions">learning condition
              questions</a> described above. Some of these questions enable us
              to disaggregate data in different ways (e.g., to show teachers
              how students from different groups might experience their class
              differently). Other questions enable us to continuously improve
              the quality of the questions we use—or to prepare more
              comprehensive reports for <a href="#communities">communities</a>
              that request them. To keep the surveys short, most of these
              questions are only asked periodically or only from random
              subsets of students. These questions inquire about students’
              race, gender, prior grades, learning mindsets, comfort answering
              questions honestly, level of effort in given class, perceptions
              of their teachers’ mindsets, and other similar factors. You can
              always <a href="#how-to-preview-survey">preview the survey</a>.
            </p>
          </div>

          <div id="how-to-preview-survey" class="subgroup">
            <h4>How can I preview the student survey?</h4>
            <p>
              You can preview the survey that your team has configured by
              signing into Copilot, selecting your team, clicking “Settings,”
              then “Survey Settings,” and then “Preview Survey.”
            </p>
          </div>

          <div id="what-if-engagement-does-not-improve" class="subgroup">
            <h4>
              What if learning conditions improve but students don’t
              become more engaged?
            </h4>
            <p>
              Fostering student engagement is less like turning on a light
              switch, and more like growing a garden. It’s a developmental
              process that takes time and is influenced by multiple factors:
            </p>
            <ol>
              <li>
                <strong>Time Course</strong>: Engaged learning is a collection
                of behaviors that depends on abilities and habits that take
                time to develop. For example, even if a student decides to
                study more, it might take her time to realize that she has to
                start going to the library after school instead of going back
                to a distracting home environment. Therefore, even if a
                student is more inclined to be engaged, it might take time for
                those desires to translate into the habits and study skills
                that are markers of engaged learning. Give it time.
              </li>
              <li>
                <strong>Multiple Determinants</strong>: Creating hospitable
                conditions for learning is like cultivating a garden: water,
                sunlight, and a variety of nutrients are each necessary but
                insufficient for all plants to grow optimally. Successful
                gardeners do not simply focus on providing sufficient water or
                providing sufficient sunlight; they attend carefully to each
                of those conditions with respect to the needs of each of their
                plants. Furthermore, they are especially mindful of the
                special care certain plants might need, e.g., because of prior
                neglect. In the same way, we suggest you work systematically
                over time to establish multiple hospitable learning
                conditions. PERTS enables educators to measure multiple
                learning condition and to try different strategies so that
                they can take this systematic approach.
              </li>
            </ol>
          </div>
        </section>

        <section id="eligibility-and-cost" class="group">
          <h3>Eligibility and Cost</h3>

          <div id="cost-to-participate" class="subgroup">
            <h4>
              How much does it cost to participate in PERTS programs?
            </h4>
            <p>
              Participation is free for teacher teams (of up to 8 teachers).
              We also offer additional services to teams who would like more
              support and training. Teams can ask a professional facilitator
              to train staff at their school or district. Additionally, teams
              can set up a multi-team community license (more than 2 teacher
              teams participating at the same organization). For more
              information, please contact <a
              href="</a> and put
              the program name in the subject line.
            </p>
          </div>

          <div id="grade-levels" class="subgroup">
            <h4>What grade levels can use PERTS programs?</h4>
            <p>
              Our surveys are appropriate for students in grades six and up.
              Reading comprehension of surveys is the main barrier to younger
              students participating.
            </p>
          </div>

          <div id="subject-areas" class="subgroup">
            <h4>What subject areas are the surveys relevant to?</h4>
            <p>
              Our surveys are primarily designed for use by academic teachers:
              those teaching math, ELA, science, social studies, and foreign
              languages. However, certain learning conditions are highly
              relevant to non-academic subjects as well. For example, many
              advisory period teachers rightfully focus on developing strong
              relationship with their students, and they may find it helpful
              to assess students’ perceptions of “teacher caring.” Regardless
              of subject area, we strongly recommend against surveying
              students in more than 4 of their classes at the same time
              because of <a href="#survey-fatigue">survey fatigue</a>.
            </p>
          </div>

          <div id="engagement-team" class="subgroup">
            <h4>Who should be on an engagement team?</h4>
            <p>
              Any teacher who supervises one or more classes of appropriately
              aged students can participate. Teams can have no more than 8
              teachers. Typically, a team is made up of 2-8 teachers who teach
              the same subject or grade-level, but that is not required. In
              some cases, a teacher will work one-on-one on a team with their
              instructional coach.
            </p>
          </div>

          <div id="languages" class="subgroup">
            <h4>
              Are PERTS Programs available in multiple languages?
            </h4>
            <p>Our materials are only available in English at this time.</p>
          </div>
        </section>

        <section id="implementation" class="group">
          <h3>Implementation</h3>

          <div id="what-is-copilot" class="subgroup">
            <h4>What is Copilot?</h4>
            <p>
              PERTS Copilot is the online platform that hosts PERTS Programs.
              Teachers use it to collect student surveys, schedule meetings,
              and generate reports. You can access Copilot at <a
              href="//copilot.perts.net">copilot.perts.net</a>.
            </p>
          </div>

          <div id="what-is-cycle" class="subgroup">
            <h4>What is a cycle?</h4>
            <p>
              PERTS Copilot programs are organized in cycles of inquiry and
              action. Cycles typically last 2-6 weeks, depending on the
              cadence preferred by the team. In order for reports to display
              properly, teams must enter start and end dates for each cycle.
            </p>
          </div>

          <div id="what-if-subset" class="subgroup">
            <h4>
              What if we only want to measure a subset of learning conditions?
            </h4>
            <p>
              In Copilot “Team Settings,” the captain will see a section
              called “Survey”. In this section, teams can control which
              learning conditions are measured in their survey. If your team
              decides not to ask about a particular learning condition, your
              team can switch it off.
            </p>
          </div>

          <div id="survey-fatigue" class="subgroup">
            <h4>What about survey fatigue?</h4>
            <p>
              Students (and adults too) get fatigued by surveys that are long
              and repetitive. They also grow tired of answering questions if
              no one acknowledges their responses or addresses their concerns.
              Unfortunately, many school surveys are designed without regard
              to students’ or teachers’ experiences, and we (at PERTS) find
              that troubling.
            </p>
            <p>
              We would be frustrated if someone asked our opinion over and
              over five different ways and then gave no indication that
              anything meaningful would change as a result of our answers. We
              empathize with the students and with the teachers who are
              sometimes required to take, or to administer, less-than-useful
              surveys.
            </p>
            <p>
              In sharp contrast, we designed our surveys  to be part of an
              empowering process that gives students voice and provides
              teachers with rapid insights that they can act on immediately.
              The surveys do two things:
            </p>
            <ul>
              <li>
                <strong>They are quick to complete.</strong> Surveys take
                students less than 10 minutes (typically less than 5) to
                complete.
              </li>
              <li>
                <strong>Students&rsquo; responses quickly inform teacher
                practice.</strong> We provide guidance to teachers concerning
                how to frame the surveys to their students (see <a
                href="#survey-instructions"> How do I administer surveys to my
                students?</a>). When teachers follow this guidance, it ensures
                their students understand that their opinions are valued by
                their teachers and that their responses will influence how
                their teachers conduct class.
              </li>
            </ul>
          </div>

          <div id="survey-instructions" class="subgroup">
            <h4>How do I administer surveys to my students?</h4>
            <p>
              <strong>Set up in advance</strong>. Make sure each of your
              students has access to an internet-enabled device like a laptop,
              tablet, or smartphone. Students do not necessarily need to take
              the survey at the same time, so it is not necessary for each
              student to have a device, as long as they can each access a
              device at some point. Finally, make sure your students have
              their <a href="#roster-id-what">Roster ID</a> handy so that they
              can log on to take the survey.
            </p>
            <p>
              <strong>Administering the survey</strong>. It’s important to
              appropriately introduce students to the survey so that they
              understand and buy into its purpose . You can find detailed
              recommendations for administering the survey (including unique
              sign-in codes for each your classes) by following these steps:
            </p>
            <ol>
              <li>
                Sign into <a href="//copilot.perts.net">copilot.perts.net</a>
                and select your team (you’ll be automatically redirected if
                you’re only on one team).
              </li>
              <li>
                On the menu to the left, select the cycle for which you are
                currently surveying students.
              </li>
              <li>Click the “Survey Instructions” button.</li>
            </ol>
            <p>
              If your team has notifications enabled, you will also receive a
              direct link to your survey instructions in every week during
              which surveys are scheduled.
            </p>
            <p>
              <strong>Handling makeups</strong>. Students who were absent can
              take the survey at a different time, as long as it is within the
              same cycle.
            </p>
            <p>
              <strong>Receiving reports</strong>: You should receive new
              reports on the Monday afternoon following your student survey.
            </p>
          </div>

          <div id="sample-report">
            <h4>What does a PERTS Copilot report look like?</h4>
            <p>
              Please see our <a href="//perts.net/engage/report">sample PERTS Copilot report</a>.
            </p>
          </div>
        </section>

        <section id="data-disaggregation" class="group">
          <h3>Data Disaggregation</h3>

          <div id="why-disaggregate" class="subgroup">
            <h4>Why disaggregate results?</h4>
            <p>
              In our school system—and in society more generally—systematic
              disparities exist between the opportunities afforded to members
              of different groups. Disparities in opportunity are especially
              pronounced by race, gender, and socioeconomic status. For
              example, Black, Latinx, and Native American students are more
              likely to be suspended than their White peers for the same
              offenses. They are also less likely to receive the support they
              need to reach high academic standards. PERTS reports help
              educators compare the experiences of members of different groups
              so that, if significant disparities exist, educators can take
              additional steps to understand and mitigate those disparities.
            </p>
          </div>

          <div id="how-disaggregate" class="subgroup">
            <h4>How does Copilot disaggregate results?</h4>
            <p>
              By default, PERTS Copilot reports disaggregate student
              experience data by gender and by <a
              href="#race-grouping">race-ethnicity group membership</a>. Teams
              can also create a custom <a href="#what-is-target-group">target
              group</a>.
            </p>
          </div>


          <div id="race-grouping" class="subgroup">
            <h4>Why are race data grouped in reports?</h4>
            <p>
              When students self-identify their race and ethnicity in PERTS
              surveys, they can choose from 17 different categories and
              identify with multiple races. However, results in reports are
              not broken out by those fine-grained categories because that
              level of disaggregation would make it impossible to maintain the
              confidentiality of students’ responses. (To maintain <a
              href="#student-privacy">students’ privacy</a>, PERTS Copilot
              reports only show results for a given group when that group has
              at least five members. That means, for example, that reports
              could not show results from Native American students if there
              were fewer than five Native American students in a given class.)
            </p>
            <p>
              Even though we cannot break out data by each distinct race and
              ethnicity for privacy reasons, we believe it is important to
              give educators insight into whether students’ experiences in
              their classrooms are reinforcing or interrupting the nationally
              observed disparities in educational opportunity.
            </p>
            <p>
              As a compromise between the need to maintain student
              confidentiality and the desire to provide teachers with
              disaggregated data about opportunity gaps, PERTS Copilot reports
              group together certain races and ethnicities. Using national
              statistics on disparities in academic and disciplinary outcomes
              as a guide, reports group together students who self-identify as
              Black, Latinx, and/or Native American. Reports contrast their
              experiences to those of White and Asian students (who are
              comparatively advantaged according to the same national
              statistics).
            </p>
            <p>
              This compromise enables educators to get some insight about
              opportunity gaps in their classrooms while simultaneously
              protecting student confidentiality. However, to state the
              obvious, this approach is limited because the experiences of
              White students are likely to be different from those of Asian
              students, and the experiences of Black, Latinx, and/or Native
              American students are likely to differ as well. Furthermore,
              opportunity gaps at a particular school might not mirror the
              national trends. Therefore, we encourage teams to set a custom
              <a href="#what-is-target-group">target group</a> that more
              accurately represents the groups of students in their own
              classes who are situated farthest from opportunity.
            </p>
          </div>

          <div id ="what-is-target-group" class="subgroup">
            <h4>What is a target group on Copilot?</h4>
            <p>
              In many schools and classrooms, specific groups of students are
              situated further from opportunity. Often, these students are
              members of specific racial, ethnic or gender groups, English
              language learners, or students who are members of multiple
              demographics (for example, boys of color). If teachers are aware
              that a specific group of students is situated further from
              opportunity, we encourage them to use the “Target Group” feature
              in Copilot to define a custom target group that includes those
              students.
            </p>
            <p>
              When a target group is set, reports will display results
              separately for students in the target group and for those who
              are not. This enables teachers to see whether members of the
              target group experience their classroom differently. In this
              way, teachers can recognize whether and how students’
              experiences in their own classes may be reinforcing—or
              mitigating—the opportunity gaps observed in other data. For
              example, <a
              href="https://www.researchgate.net/publication/23664174_The_discipline_gap_and_African_Americans_Defiance_or_cooperation_in_the_high_school_classroom">
              research suggests</a> that teachers who successfully convey a
              sense of care to African American students are significantly
              less likely to elicit the defiant behaviors for which African
              American students are  disproportionately disciplined. This
              implies that teachers can mitigate disproportionate rates of
              suspensions and referrals by being systematic and intentional
              about making sure that African American students feel cared for.
            </p>
            <p>
              The Target Groups feature is intended to support such efforts—to
              help teachers implement a <a
              href="https://haasinstitute.berkeley.edu/targeteduniversalism">
              Targeted Universalist</a> approach towards creating a more
              equitable classroom climate that fosters engagement in all
              students.
            </p>
          </div>

          <div id = "how-to-set-target-group" class="subgroup">
            <h4>How do I set up a target group in my reports?</h4>
            <p>To set up a target group, the team captain should:</p>
            <ol>
              <li>Sign into Copilot</li>
              <li>
                Click “Settings” on the menu to the left (you might need to
                select a team first)
              </li>
              <li>Click “Report Settings”</li>
              <li>Define the target group</li>
            </ol>
          </div>
        </section>

        <section id="privacy" class="group">
          <h3>Privacy</h3>

          <p>
            We take privacy extremely seriously for both students and
            teachers.
          </p>

          <div id="teacher-privacy" class="subgroup">
            <h4>What about teacher privacy?</h4>
            <p>
              To protect <strong>teacher privacy</strong>, each classroom
              entered into Copilot has a main contact who receives survey
              instructions and reports for that classroom. <strong>The only
              person on a Copilot team who can see a classroom’s reports is
              the main contact of that classroom</strong>. PERTS encourages
              team members to share and discuss their reports in Cycle
              Meetings to the extent they feel comfortable doing so.
            </p>

            <p>
              One side note: it is possible for the team captain and team
              sponsor to change the setting for any classroom on Copilot,
              including the main contact. This means that team captain Alice
              could, in theory, change the main contact of Bob’s classroom to
              be Alice herself, which would allow Alice to see Bob’s reports.
              However, Bob will automatically get an email informing him that
              Alice changed his classroom settings. In other words,
              <strong>there is no way to see another teammate’s class-level
              reports without having that teammate know that you did
              so</strong>.
            </p>
          </div>

          <div id="student-privacy" class="subgroup">
            <h4>How do you safeguard student privacy?</h4>
            <p>
              We take student privacy extremely seriously both because it’s the
              law, and also because it’s the right thing to do! Our technical
              security measures are described at
              <a href="/cloud-security">perts.net/cloud-security</a>, and our
              legally-binding privacy policy can be found at
              <a href="/privacy">perts.net/privacy</a>.
            </p>
            <p>
              Our strict privacy policy is specifically designed to meet the
              requirements spelled out in the Family Educational Rights and
              Privacy Act (FERPA), and hundreds of schools and colleges around
              the United States have implemented PERTS programs under the legal
              coverage provided by our privacy policy. Under the
              <a
                href="https://studentprivacy.ed.gov/sites/default/files/resource_document/file/FERPA%20Exceptions_HANDOUT_horizontal_0_0.pdf"
              >&ldquo;school official&rdquo;</a> exemption in FERPA, schools
              can share identifiable information with an individual or
              organization that is acting in the capacity of a school official.
              To qualify as a school official under FERPA, the individual or
              organization must be acting on behalf of the school, must keep
              the information confidential, must only use that information for
              the purposes approved by the school, and must enable the school
              to control that information. For example, the school must be
              allowed to review, change, or delete the personal information.
              Under no circumstance can the information be shared with third
              parties without the schools’ permission. The PERTS privacy policy
              meets all of those requirements. Check it out at
              <a href="/privacy">perts.net/privacy</a>.
            </p>
          </div>

          <div id="student-responses" class="subgroup">
            <h4>Can I see individual students&rsquo; responses?</h4>
            <p>
              We do not permit anyone to see individual students’ responses
              (with the exception of open ended responses) because doing so
              could incentivize students to be dishonest and destroy the
              integrity of the process. Of course, we encourage you to have
              frank face-to-face conversations with your students, but one of
              the goals of the surveys is to give you an easy, confidential
              way to get honest feedback.
            </p>
          </div>

          <div id="roster-id-why" class="subgroup">
            <h4>Why do my students need to log in to surveys with a Roster ID?</h4>
            <p>
              In order to track your students’ data over time and accurately
              show you how scores change, Copilot needs a way to recognize and
              distinguish between the students in your class — and across
              multiple classes on a team. To facilitate this, teachers set up
              rosters of students for their classes.
            </p>
          </div>

          <div id="roster-id-what" class="subgroup">
            <h4>What can I use as a Roster ID?</h4>
            <p>
              PERTS strongly recommends that you use students’ school email
              addresses as their Roster IDs. This will make it easier for
              students to remember their Roster ID, and it will prevent ID
              conflicts (where two teachers on the same team inadvertently use
              the same ID for different students, resulting in garbled
              results).
            </p>
            <p>
              If you would like to use anything other than a school email
              address as the Roster ID, please contact <a
              href="</a> to confirm
              the suitability of the alternate Roster ID. As per our strict
              privacy policy, PERTS only shares student login information with
              authorized individuals who have a legitimate need to access
              them, like the students’ teachers (for details, please see our
              <a href="/privacy">privacy policy</a>).
            </p>
          </div>
        </section>

        <section id="communities" class ="group">
          <h3>Communities</h3>

          <div id="community-why" class="subgroup">
            <h4>Why create a community in Copilot?</h4>
            <p>
              Educators using the PERTS Copilot platform typically organize
              themselves onto teams. However, sometimes an instructional
              leader or coach  may want to group several teams together into a
              community so that they can monitor and support progress across
              all of them. For example, say that 24 teachers at the same
              middle school are all using Copilot. They form three separate
              teams of 8 teachers — one corresponding to each grade level. If
              an instructional leader or coach would like to track progress
              across all three teams, the best way to do that would be to
              group those teams into a community.
            </p>
            <img
              src="/static/images/faq/engage_community_diagram.png"
              style="width: 70%; padding: 20px 0; margin: 0 auto; display: block;"
            />
          </div>

          <div id ="community-how" class="subgroup">
            <h4>How do you create a community?</h4>
            <ol>
              <li>Sign into Copilot</li>
              <li>Click home</li>
              <li>Click add on the “Community” list</li>
              <li>Name the community and click save</li>
            </ol>
          </div>

          <div id ="how-associate-team" class="subgroup">
            <h4>How do you associate a team with a community?</h4>
            <ol>
              <li>
                Get the community code from a community administrator. The
                community administrator will need to:
              </li>
              <ol type="a">
                <li>Sign into Copilot</li>
                <li>Click home</li>
                <li>
                  Click into the relevant community from the "Community" list
                </li>
                <li>Click the "add" button</li>
                <li>
                  Provide the community code to the captain(s) of the team(s)
                  that will be associated with the community.
                </li>
              </ol>
              <li>
                Use the community code to associate a team with a community.
                The team captain will need to:
              </li>
              <ol type="a">
                <li>Sign into Copilot</li>
                <li>Click home</li>
                <li>Click into the relevant team from the "Team" list</li>
                <li>Click the "Settings" on the left</li>
                <li>Click "Communities"</li>
                <li>Paste in the community code</li>
              </ol>
            </ol>
          </div>

          <div id ="community-permissions" class="subgroup">
            <h4>How do permissions work for communities?</h4>
            <p>
              When a team joins a community, it gives the community’s
              administrator(s) the same permission over its team settings and
              reports data as are granted to the team’s captain.
            </p>
            <p>Community administrators are able to:</p>
            <ul>
              <li> See team-level reports</li>
              <li>
                Change survey settings and team membership (including
                who is the team captain)
              </li>
              <li>Update class rosters</li>
            </ul>
            <p>Community administrators are <em>not</em> able to:</p>
            <ul>
              <li>
                See class-level reports (unless they make themselves the
                teacher for that class, in which case the current teacher
                will be notified)
              </li>
            </ul>
          </div>

          <div id ="multiple-communities" class="subgroup">
            <h4>Can a team be associated with multiple communities?</h4>
            <p>
              Yes, you can associate a team with up to 5 communities. For
              example, maybe you want your team to be accessible to an
              instructional coach who works with three teams and also to a
              district leader who works with twenty teams.
            </p>
          </div>
        </section>

        <section id="troubleshooting" class="group">
          <h3>Troubleshooting</h3>

          <div id="how-to-help" class="subgroup">
            <h4>
              How can I help a teacher build student buy-in for surveys?
            </h4>
            <p>
              Survey reports prominently flag problems with student buy-in.
              For example, they show if students are not comfortable being
              honest or if they do not believe their teacher will use the data
              to improve their learning experiences. If a teacher is
              struggling to get high student buy-in, we recommend their
              teammates help them by  trying some of these strategies:
            </p>
            <ul>
              <li>
                Visit the teacher’s classroom to see how that teacher frames
                the surveys to students.
              </li>
              <li>
                Work with the teacher and with other team members, as needed,
                to create a plan for improving student buy-in. (The Survey
                Instructions page on Copilot has some strategies that have
                worked for other teachers.)
              </li>
            </ul>
          </div>

          <div id="access-copilot" class="subgroup">
            <h4>Why can't I access Copilot?</h4>
            <p>
              If you have issues accessing Copilot, your district may have a
              firewall that is blocking access to the site. Check with your IT
              department to see if they can resolve the issue. You can test
              your network access here: <a
              href="/network-test">perts.net/network-test</a>.
            </p>
          </div>
        </section>

        <section id="acknowledgements" class="group">
          <h3>Acknowledgements</h3>
          <p>
            Copilot and the learning condition questions and resources were
            developed by the Project for Education Research that Scales
            (PERTS), an applied research center at Stanford University. PERTS
            helps educators apply insights from the learning and developmental
            sciences so that every learner gets the support and stimulation
            they need to thrive.
          </p>
          <p>
            PERTS works with developmental scientists and educators across the
            nation to build tools and services that help schools foster
            student engagement and success. Through our work with schools,
            teachers, and other educational organizations, millions of
            students around the world have benefited from evidence-based
            practices.
          </p>

          <h4>Key Advisors</h4>
          <p>Susan Colby, Founder &amp; CEO, Imagine Worldwide</p>
          <p>Carol Dweck, Professor, Stanford University</p>
          <p>
            Camille Farrington, Managing Director, UChicago Consortium for
            School Research
          </p>
          <p>Becky Margiotta, Principal, Billions Institute</p>
          <p>Jason Okonofua, Assistant Professor, UC Berkeley</p>
          <p>Greg Walton, Associate Professor, Stanford University</p>


          <h4>Key Funders</h4>
          <p>The Raikes Foundation</p>
          <p>The Overdeck Family Foundation</p>
        </section>
      </div>

      {% include 'engage/navbar-faq.html' %}

    </div>
  </div>

  {% include 'components/navbar_top_inverted.html' %}

</div>

<script type="text/javascript">
$('body').scrollspy({
  target: '.bs-docs-sidebar',
  offset: 110,
});
$('#sidebar').affix({
  offset: {
    top: 494,
  },
});
</script>

{% endblock %}

{% block modals %}
<div
  class="modal fade video-modal"
  tabindex="-1"
  role="dialog"
  id="videoModal"
>
  <div
    class="modal-dialog"
    onclick="yt_players['videoPlayer'].pauseVideo();"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-body">
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            id="videoPlayer"
            class="ytplayer"
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/daBTlLOGPIs?enablejsapi=1&wmode=transparent&amp;rel=0&amp;showinfo=0"
            allowfullscreen="true"
          ></iframe>
        </div>
      </div>
      <button type="button" class="close" data-dismiss="modal"
              aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <script type="text/javascript">
      var yt_int,
  yt_players = {},
  initYT = function() {
    $('.ytplayer').each(function() {
      yt_players[this.id] = new YT.Player(this.id);
    });
  };
$.getScript('//www.youtube.com/player_api', function() {
  yt_int = setInterval(function() {
    if (typeof YT === 'object') {
      initYT();
      clearInterval(yt_int);
    }
  }, 500);
});
$('body').on('click', function(e) {
  if (yt_players['videoPlayer']) {
    yt_players['videoPlayer'].pauseVideo();
  }
});
</script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
