<!--Nav Bar -->
  <nav class="col-md-3 hidden-sm hidden-xs bs-docs-sidebar">
    <ul id="sidebar" class="nav nav-stacked">
      <li><a href="#the-problem">The Problem</a></li>
      <li><a href="#the-solution">The Solution</a></li>
      <li><a href="#about-the-program">About the Program</a></li>
      <li>
        <a href="#the-process">The Process</a>
        <ul class="nav nav-stacked">
          <li><a href="#key-roles">Key Roles</a></li>
          <li><a href="#engage-supporters">Engage Supports</a></li>
          <li><a href="#launch-meeting">Launch Meeting</a></li>
          <li><a href="#survey">Survey</a></li>
          <li><a href="#team-meeting">Team Meeting</a></li>
          <li><a href="#practice-journal">Practice Journal</a></li>
        </ul>
      </li>
      <li><a href="#suggestions">Suggestions welcome!</a></li>
      <li><a href="#acknowledgments">Acknowledgments</a></li>
      <li><hr /></li>
      <!-- /conditions is a short link in production, and may 404 in other
           environments -->
      <li><a href="/conditions">Learning Conditions</a></li>
      <li><hr /></li>
      <li><a href="/engage/faq">FAQ</a></li>
    </ul>
  </nav>
