<!--Nav Bar -->
  <nav class="col-md-3 hidden-sm hidden-xs bs-docs-sidebar">
    <ul id="sidebar" class="nav nav-stacked">
      <li><a href="/engage">Engagement Project</a></li>
      <li><hr /></li>
      <li><a href="#introduction">Introduction</a></li>
      <li>
        <a href="#learning-conditions">Learning Conditions</a>
        <ul class="nav nav-stacked">
          <li>
            <a href="#teacher-caring">Teacher Caring</a>
            <ul class="nav nav-stacked">
              <li><a href="#teacher-caring-intro">Introduction</a></li>
              <li><a href="#teacher-caring-strategies">Strategies</a></li>
              <li><a href="#teacher-caring-measures">Survey Measures</a></li>
              <li><a href="#teacher-caring-references">References</a></li>
            </ul>
          </li>
          <li>
            <a href="#feedback-for-growth">Feedback for Growth</a>
            <ul class="nav nav-stacked">
              <li><a href="#feedback-for-growth-intro">Introduction</a></li>
              <li><a href="#feedback-for-growth-strategies">Strategies</a></li>
              <li><a href="#feedback-for-growth-measures">Survey Measures</a></li>
              <li><a href="#feedback-for-growth-resources">Resources</a></li>
              <li><a href="#feedback-for-growth-references">References</a></li>
            </ul>
          </li>
          <li>
            <a href="#meaningful-work">Meaningful Work</a>
            <ul class="nav nav-stacked">
              <li><a href="#meaningful-work-intro">Introduction</a></li>
              <li><a href="#meaningful-work-strategies">Strategies</a></li>
              <li><a href="#meaningful-work-measures">Survey Measures</a></li>
              <li><a href="#meaningful-work-references">References</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><hr /></li>
      <li><a href="/engage/faq">FAQ</a></li>
    </ul>
  </nav>
