<!--Nav Bar -->
  <nav class="col-md-3 hidden-sm hidden-xs bs-docs-sidebar">
    <ul id="sidebar" class="nav nav-stacked">
      <!--
      <li><a href="/engage">The Engagement Project</a></li>
      <li><hr /></li>
      -->
      <li><a href="/conditions">Learning Conditions</a></li>
      <li><hr /></li>
      <li>
        <a href="#learning-conditions">Learning Conditions that Promote Engagement</a>
        <ul class="nav nav-stacked">
          <li><a href="#what-is-learning-engagement">What do we mean by engagement?</a></li>
          <li><a href="#why-is-engagement-important">Why is engagement important?</a></li>
          <li><a href="#what-are-learning-conditions">What are learning conditions?</a></li>
          <li><a href="#why-measure-learning-conditions">Why measure learning conditions?</a></li>
          <li><a href="#how-measure-learning-conditions">How do we measure learning conditions?</a></li>
          <li><a href="#what-else-student-survey">What else are students asked on the survey?</a></li>
          <li><a href="#how-to-preview-survey">How can I preview the student survey?</a></li>
          <li><a href="#what-if-engagement-does-not-improve">What if learning conditions improve but students don’t become more engaged?</a></li>
        </ul>
      </li>
      <li>
        <a href="#eligibility-and-cost">Eligibility and Cost</a>
        <ul class="nav nav-stacked">
          <li><a href="#cost-to-participate">How much does it cost to participate in PERTS programs?</a></li>
          <li><a href="#grade-levels">What grade levels can use PERTS programs?</a></li>
          <li><a href="#subject-areas">What subject areas are the surveys relevant to?</a></li>
          <li><a href="#engagement-team">Who should be on an engagement team?</a></li>
          <li><a href="#languages">Are PERTS Programs available in multiple languages?</a></li>
        </ul>
      </li>
      <li>
        <a href="#implementation">Implementation</a>
        <ul class="nav nav-stacked">
          <li><a href="#what-is-copilot">What is Copilot?</a></li>
          <li><a href="#what-is-cycle">What is a cycle?</a></li>
          <li><a href="#what-if-subset">What if we only want to measure a subset of learning conditions?</a></li>
          <li><a href="#survey-fatigue">What about survey fatigue?</a></li>
          <li><a href="#survey-instructions">How do I administer surveys to my students?</a></li>
          <li><a href="#sample-report">What does a PERTS Copilot report look like?</a></li>
        </ul>
      </li>
      <li>
        <a href="#data-disaggregation">Data Disaggregation</a>
        <ul class="nav nav-stacked">
          <li><a href="#why-disaggregate">Why disaggregate results?</a></li>
          <li><a href="#how-disaggregate">How does Copilot disaggregate results?</a></li>
          <li><a href="#race-grouping">Why are race data grouped in reports?</a></li>
          <li><a href="#what-is-target-group">What is a target group on Copilot?</a></li>
          <li><a href="#how-to-set-target-group">How do I set up a target group in my reports?</a></li>
        </ul>
      </li>
      <li>
        <a href="#privacy">Privacy</a>
        <ul class="nav nav-stacked">
          <li><a href="#teacher-privacy">What about teacher privacy?</a></li>
          <li><a href="#student-privacy">How do you safeguard student privacy?</a></li>
          <li><a href="#student-responses">Can I see individual students&rsquo; responses?</a></li>
          <li><a href="#roster-id-why">Why do my students need to log in to surveys with a Roster ID?</a></li>
          <li><a href="#roster-id-what">What can I use as a Roster ID</a></li>
        </ul>
      </li>
      <li>
        <a href="#communities">Communities</a>
        <ul class="nav nav-stacked">
          <li><a href="#community-why">Why create a community in Copilot?</a></li>
          <li><a href="#community-how">How do you create a community?</a></li>
          <li><a href="#how-associate-team">How do you associate a team with a community?</a></li>
          <li><a href="#community-permissions">How do permissions work for communities?</a></li>
          <li><a href="#multiple-communities">Can a team be associated with multiple communities?</a></li>
        </ul>
      </li>
      <li>
        <a href="#troubleshooting">Troubleshooting</a>
        <ul class="nav nav-stacked">
          <li><a href="#how-to-help">How can I help a teacher build student buy-in for surveys?</a></li>
          <li><a href="#access-copilot">Why can't I access Copilot?</a></li>
        </ul>
      </li>
      <li>
        <a href="#acknowledgements">Acknowledgements</a>
      </li>
    </ul>
  </nav>
