<p>
  Copilot was developed by the Project for Education Research That
  Scales (PERTS) in partnership with leading researchers and
  educational advocacy organizations. PERTS in a non-profit research
  and development institute that translates insights from
  psychological science into cutting-edge tools, measures, and
  recommendations that educators anywhere can use to foster student
  success effectively and equitably.
</p>

<h4>Key Partners &amp; Advisors</h4>
<p>Susan Colby, Founder &amp; CEO, Imagine Worldwide</p>
<p>The College Transition Collaborative</p>
<p>Carol Dweck, Professor, Stanford University</p>
<p>
  Camille Farrington, Managing Director, UChicago Consortium for
  School Research
</p>
<p>Becky Margiotta, Principal, Billions Institute</p>
<p>The National Equity Project</p>
<p>Jason Okonofua, Assistant Professor, UC Berkeley</p>
<p>Shift Results</p>
<p>University of Chicago Consortium for School Research</p>
<p>Greg Walton, Associate Professor, Stanford University</p>

<h4>Key Funders</h4>
<p>The Raikes Foundation</p>
<p>The Overdeck Family Foundation</p>
<p>The Bill &amp; Melinda Gates Foundation</p>
