<!--Nav Bar -->
  <nav class="col-md-3 hidden-sm hidden-xs bs-docs-sidebar">
    <ul id="sidebar" class="nav nav-stacked">
      <li>
        <a href="#learning-conditions">Conditions that Support Learning</a>
        <ul class="nav nav-stacked">
          <li><a href="#what-are-learning-conditions">What are learning conditions?</a></li>
          <li><a href="#how-do-learning-conditions-impact-student-achievement">How do learning conditions impact student achievement?</a></li>
          <li><a href="#why-measure-learning-conditions">Why measure learning conditions?</a></li>
          <li><a href="#how-measure-learning-conditions">How does Copilot measure learning conditions?</a></li>
          <li><a href="#what-are-the-learning-conditions-measured-in-copilot">What are the learning conditions measured in Copilot?</a></li>
          <li><a href="#how-can-i-improve-learning-conditions">How can I improve learning conditions?</a></li>
          <li><a href="#what-if-engagement-does-not-improve">What if learning conditions improve but learning outcomes don&rsquo;t?</a></li>
        </ul>
      </li>
      <li>
        <a href="#about-copilot">About Copilot</a>
        <ul class="nav nav-stacked">
          <li><a href="#what-is-copilot">What is Copilot?</a></li>
          <li><a href="#what-programs-are-available-on-copilot">What programs are available on Copilot?</a></li>
          <li><a href="#can-i-use-copilot-remotely">Can I use Copilot remotely?</a></li>
        </ul>
      </li>
      <li>
        <a href="#eligibility-and-cost">Cost and Eligibility</a>
        <ul class="nav nav-stacked">
          <li><a href="#cost-to-participate">How much does it cost to use Copilot?</a></li>
          <li><a href="#grade-levels">What grade levels can use Copilot?</a></li>
          <li><a href="#subject-areas">What subject areas are the surveys relevant to?</a></li>
          <li><a href="#languages">Are Copilot programs available in multiple languages?</a></li>
        </ul>
      </li>
      <li>
        <a href="#registration">Registration</a>
        <ul class="nav nav-stacked">
          <li><a href="#how-do-i-create-a-copilot-account">How do I create a Copilot account?</a></li>
          <li><a href="#why-did-i-receive-an-invitation-to-copilot">Why did I receive an invitation to Copilot?</a></li>
        </ul>
      </li>
      <li>
        <a href="#projects">Projects</a>
        <ul class="nav nav-stacked">
          <li><a href="#whats-a-project">What&rsquo;s a project?</a></li>
          <li><a href="#how-do-i-create-a-project">How do I create a project?</a></li>
          <li><a href="#how-do-i-invite-colleagues-to-my-project">How do I invite colleagues to my project?</a></li>
        </ul>
      </li>
      <li>
        <a href="#cycles">Cycles</a>
        <ul class="nav nav-stacked">
          <li><a href="#what-is-cycle">What is a cycle?</a></li>
          <li><a href="#how-do-i-set-survey-window-dates">How do I set survey window dates?</a></li>
        </ul>
      </li>
      <li>
        <a href="#rosters">Rosters</a>
        <ul class="nav nav-stacked">
          <li><a href="#what-is-a-roster">What is a roster?</a></li>
          <li><a href="#roster-id-what">What can I use as a Roster ID?</a></li>
          <li><a href="#how-do-i-set-up-rosters">How do I set up rosters?</a></li>
        </ul>
      </li>
      <li>
        <a href="#student-surveys">Student Surveys</a>
        <ul class="nav nav-stacked">
          <li><a href="#what-are-students-asked-on-the-survey">What are students asked on the survey?</a></li>
          <li><a href="#what-if-subset">How can I measure a subset of learning conditions?</a></li>
          <li><a href="#how-to-preview-survey">How can I preview the student survey?</a></li>
          <li><a href="#survey-instructions">How do I administer surveys to my students?</a></li>
          <li><a href="#how-do-i-administer-a-message-it-survey">How do I administer a Message IT survey?</a></li>
          <li><a href="#survey-fatigue">What about survey fatigue?</a></li>
          <li><a href="#how-to-help">How can I help an educator build student buy-in for surveys?</a></li>
          <li><a href="#how-do-i-know-which-students-have-completed-the-survey">How do I know which students have completed the survey?</a></li>
        </ul>
      </li>
      <li>
        <a href="#reports-and-survey-results">Reports &amp; Survey Results</a>
        <ul class="nav nav-stacked">
          <li><a href="#what-will-my-report-include">What will my report include?</a></li>
          <li><a href="#how-do-i-access-my-report">How do I access my report?</a></li>
          <li><a href="#how-do-i-share-my-report">How do I share my report?</a></li>
        </ul>
      </li>
      <li>
        <a href="#data-disaggregation">Data Disaggregation</a>
        <ul class="nav nav-stacked">
          <li><a href="#why-disaggregate">Why are survey results disaggregated?</a></li>
          <li><a href="#how-disaggregate">How does Copilot disaggregate survey results?</a></li>
          <li><a href="#how-race-ethnicity">How are race-ethnicity data collected?</a></li>
          <li><a href="#race-grouping">Why are race data grouped in reports?</a></li>
          <li><a href="#what-is-target-group">How can I learn about the experiences of a specific target group of students?</a></li>
          <li><a href="#how-to-set-target-group">How do I set up a target group?</a></li>
        </ul>
      </li>
      <li>
        <a href="#privacy">Privacy</a>
        <ul class="nav nav-stacked">
          <li><a href="#educator-privacy">How do you safeguard educator privacy?</a></li>
          <li><a href="#student-privacy">How do you safeguard student privacy?</a></li>
          <li><a href="#student-responses">Can I see individual students&rsquo; responses?</a></li>
          <li><a href="#irb-approval">Do I need IRB approval?</a></li>
        </ul>
      </li>
      <li>
        <a href="#support-for-large-scale-implementation">Support for Large-Scale Implementation</a>
        <ul class="nav nav-stacked">
          <li><a href="#can-i-contact-you-to-support-our-large-scale-implementation">Can I contact you to support our large-scale implementation?</a></li>
          <li><a href="#what-advanced-features-for-large-scale-implementation">What advanced features do you offer for large-scale implementation?</a></li>
          <li><a href="#community-why">What’s a Copilot community?</a></li>
          <li><a href="#community-permissions">What permissions do community administrators have?</a></li>
          <li><a href="#community-how">How do I create a community?</a></li>
          <li><a href="#how-associate-team">How do I associate a project to a community?</a></li>
          <li><a href="#multiple-communities">Can a project be associated with multiple communities?</a></li>
        </ul>
      </li>
      <li>
        <a href="#troubleshooting">Troubleshooting</a>
        <ul class="nav nav-stacked">
          <li><a href="#access-copilot">Why can't I access Copilot?</a></li>
          <li><a href="#still-have-questions">What if I didn’t find a response to a question I have?</a></li>
        </ul>
      </li>
      <li>
        <a href="#acknowledgements">Acknowledgements</a>
      </li>
    </ul>
  </nav>
