{% extends "engage/_template.engage.html" %}

{% set title = "Copilot: Teacher Stories" %}
{% set page_description = title %}

{% block masthead %}

<div class="row justify-content-center">
  <div class="col-12">
    <h1 class="teacher-stories-name">Shannon Feineis</h1>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="teacher-stories">
  <div class="container">
    <div class="row">
      <div class="col-md-4 order-md-last order-first">
        <div class="sidebar">
          <section class="nav">
            <div class="nav-engage">
              <a href="/orientation/elevate">Sign up for Copilot</a>
            </div>
            <div class="nav-engage">
              <a href="/copilot/stories-biddix">Teacher Stories</a>
            </div>
            <div class="nav-engage">
              <a href="/copilot/stories-fremont">Team &amp; Admin Stories</a>
              <hr />
            </div>

            <div class="nav-stories nav-next">
              <a href="/copilot/stories-duffy">
                Kathleen Duffy
                <i class="fa fa-angle-right"></i>
              </a>
            </div>

            <div class="nav-stories nav-prev">
              <a href="/copilot/stories-megie">
                <i class="fa fa-angle-left"></i>
                Hirvelt Megie
              </a>
            </div>
          </section>

          <section class="profile">
            <div class="profile-photo">
              <img src="/static/images/teacher-stories-feineis.jpg" alt="" />
            </div>

            <div class="profile-text">
              <h2>Shannon Feineis</h2>

              <div class="profile-text-label">Teaching experience</div>
              <div class="profile-text-text">17 years</div>

              <div class="profile-text-label">Class/subject</div>
              <div class="profile-text-text">Juniors, Physics</div>

              <div class="profile-text-label">School</div>
              <div class="profile-text-text">Barrington High School</div>

              <div class="profile-text-label">Location</div>
              <div class="profile-text-text">Barrington, IL</div>

              <div class="profile-text-label">Size</div>
              <div class="profile-text-text">2,950 students</div>

              <div class="profile-text-label">Demographics</div>
              <div class="profile-text-text">
                66% White, 17% Hispanic/Latinx, 13% Asian, 3% mixed race, 1%
                Black
              </div>

              <div class="profile-text-label">Time using Copilot</div>
              <div class="profile-text-text">December 2018 to present</div>

              <div class="profile-text-label">Top focus area</div>
              <div class="profile-text-text">Feedback for Growth</div>

              <div class="profile-text-label">Improvement</div>
              <div class="profile-text-text">+24%</div>

              <div class="profile-text-label">Implementation partner</div>
              <div class="profile-text-logo">
                <a href="https://www.eoschools.org">
                  <img src="/static/images/engage/eos_logo.png" />
                </a>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="col-md-8">
        <section id="benefits-for-teachers" class="group">
          <h2>Background</h2>
          <p>
            Shannon Feineis teaches several physics classes at Barrington High
            School, primarily to juniors. Shannon describes one class as very
            emotional and reactive; &ldquo;If they feel dumb, they turn
            off,&rdquo; she said. Though Shannon has often told her students
            that she welcomed their wrong answers, she has had trouble changing
            their performance-focused culture.
          </p>

          <p>
            <em
              >Shannon used Copilot as part of
              <a href="https://eoschools.org"
                >Equal Opportunity Schools&rsquo;</a
              >
              Equity Leader Labs project.</em
            >
          </p>

          <h2>Starting out</h2>
          <p>
            After the first survey, Shannon and the rest of her teacher group
            decided to focus on improving students&rsquo; perceptions that they
            were receiving feedback for their growth, as measured by agreement
            with statements like &ldquo;This week in class, I got specific
            suggestions about how to improve my skills.&rdquo; Her goals were to
            encourage more risk-taking and reduce fear of failure. She also
            wanted to help students see their work in class as meaningful to
            their lives outside of school. &ldquo;I thought I had tried real
            hard to establish that culture, and that we had it going,&rdquo; she
            said, &ldquo;but as a result of the survey I tried to be very
            blunt.&rdquo;
          </p>

          <h2>A new approach - naming her goals and providing peer feedback</h2>
          <p>
            Shannon became very explicit with her students about the surveys and
            her goals for the class, even using the terms &ldquo;feedback for
            growth&rdquo; and &ldquo;meaningful work.&rdquo; The approach
            resonated. &ldquo;My students are very literal,&rdquo; she said.
            When it was time for the class to do group presentations, she had
            the students do practice presentations that were not for grades, and
            she encouraged them to give each other &ldquo;feedback for
            growth.&rdquo;
          </p>

          <h2>Results</h2>
          <p>
            Shannon achieved a 24 percentage-point gain in Feedback for Growth
            and a 24-point improvement in Meaningful Work. Additionally, 96% of
            Shannon&rsquo;s students believed that she would use the survey
            results to improve the class &mdash; a reflection of her transparency
            and sincerity about her reasons for implementing the program. For
            Shannon, the peer-to-peer component of her work proved especially
            valuable. &ldquo;They are social beings,&rdquo; Shannon said of her
            students. &ldquo;They want to be helpful to each other and not let
            each other down.&rdquo;
          </p>

          <section class="nav main">
            <div class="nav-stories nav-next">
              <a href="/copilot/stories-duffy">
                Read Kathleen Duffy&rsquo;s Story
                <i class="fa fa-angle-right"></i>
              </a>
            </div>

            <div class="nav-stories nav-prev">
              <a href="/copilot/stories-megie">
                <i class="fa fa-angle-left"></i>
                Read Hirvelt Megie&rsquo;s Story
              </a>
            </div>
          </section>
        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}
