{% extends "engage/_template.engage.html" %}

{% set title = "Copilot: Teacher Stories" %}
{% set page_description = title %}

{% block masthead %}

<div class="row justify-content-center">
  <div class="col-12">
    <h1 class="teacher-stories-name">Meghan Byrne</h1>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="teacher-stories">
  <div class="container">
    <div class="row">
      <div class="col-md-4 order-md-last order-first">
        <div class="sidebar">
          <section class="nav">
            <div class="nav-engage">
              <a href="/orientation/elevate">Sign up for Copilot</a>
            </div>
            <div class="nav-engage">
              <a href="/copilot/stories-biddix">Teacher Stories</a>
            </div>
            <div class="nav-engage">
              <a href="/copilot/stories-fremont">Team &amp; Admin Stories</a>
              <hr />
            </div>

            <div class="nav-stories nav-next">
              <a href="/copilot/stories-megie">
                Hirvelt Megie
                <i class="fa fa-angle-right"></i>
              </a>
            </div>

            <div class="nav-stories nav-prev">
              <a href="/copilot/stories-biddix">
                <i class="fa fa-angle-left"></i>
                Chris Biddix
              </a>
            </div>
          </section>

          <!--
          Chris Biddix
          Meghan Byrne
          Hirvelt Megie
          Shannon Feineis
          Kathleen Duffy
          -->

          <section class="profile">
            <div class="profile-photo">
              <img src="/static/images/teacher-stories-byrne.jpg" alt="" />
            </div>

            <div class="profile-text">
              <h2>Meghan Byrne</h2>

              <div class="profile-text-label">Teaching experience</div>
              <div class="profile-text-text">6 years</div>

              <div class="profile-text-label">Class/subject</div>
              <div class="profile-text-text">
                7th grade, English Language Arts
              </div>

              <div class="profile-text-label">School</div>
              <div class="profile-text-text">
                Boston Collegiate Charter School, 5th - 12th grade
              </div>

              <div class="profile-text-label">Location</div>
              <div class="profile-text-text">Dorchester, MA</div>

              <div class="profile-text-label">Size</div>
              <div class="profile-text-text">700 students</div>

              <div class="profile-text-label">Demographics</div>
              <div class="profile-text-text">
                45% White, 32% Black, 18% Asian, 2% Hispanic, 2% mixed race, 1%
                other
              </div>

              <div class="profile-text-label">Time using Copilot</div>
              <div class="profile-text-text">7 months</div>

              <div class="profile-text-label">Top focus area</div>
              <div class="profile-text-text">Feedback for Growth</div>

              <div class="profile-text-label">Improvement</div>
              <div class="profile-text-text">+29%</div>

              <div class="profile-text-label">Implementation partner</div>
              <div class="profile-text-logo">
                <a href="https://www.transformingeducation.org">
                  <img src="/static/images/engage/transforming_ed_logo.png" />
                </a>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="col-md-8">
        <section id="benefits-for-teachers" class="group">
          <h2>Context</h2>
          <p>
            Meghan Byrne is in her 6th year of teaching and her second year at
            Boston Collegiate Charter School in the city of Dorchester, Mass.
            Her Copilot work focused on an English Language Arts class with 23
            students who are high-needs, many of whom have individualized
            learning plans.
          </p>

          <p>
            <em
              >Meghan used Copilot as part of a partnership with
              <a href="https://www.transformingeducation.org/"
                >Transforming Education</a
              >.</em
            >
          </p>

          <h2>Reaction to initial surveys</h2>
          <p>
            Students consistently rated Teacher Caring high in Meghan&rsquo;s
            classrooms, so she decided to focus on Feedback for Growth after
            her first survey results were lower on that measure. &ldquo;Maybe
            my students are only understanding feedback in a limited way as
            grades,&rdquo; she thought, after seeing the initial results.
          </p>

          <h2>New approach</h2>
          <p>
            To better understand how to improve her Feedback for Growth, Meghan
            decided to go straight to the source&mdash;her students. She
            believes relationship building is a key component of her teaching,
            and she does a lot of that work through conversations and
            discussions with her students. She described the project and her
            goals in detail and checked her students&rsquo; assumptions, even
            ensuring that they were using the same definitions of terms like
            Feedback for Growth. She publicly resolved to her students to be
            more explicit when she is providing feedback and to provide
            personalized feedback three times per week. She thinks that this
            public goal-setting -- which created a space where teachers and
            students can communicate honestly and vulnerably -- helped her
            students to really appreciate her effort, to feel cared for, and to
            feel invested in her success as a teacher.
          </p>

          <h2>Outcomes</h2>
          <p>
            Meghan improved Feedback for Growth by 29 percent and she achieved
            a 27 percent improvement in Meaningful Work. She advises other
            teachers to talk about their results with other teachers and with
            students, who &ldquo;like to know that they are being heard and can
            have ideas.&rdquo;
          </p>

          <section class="nav main">
            <div class="nav-stories nav-next">
              <a href="/copilot/stories-megie">
                Read Hirvelt Megie&rsquo;s Story
                <i class="fa fa-angle-right"></i>
              </a>
            </div>

            <div class="nav-stories nav-prev">
              <a href="/copilot/stories-biddix">
                <i class="fa fa-angle-left"></i>
                Read Chris Biddix&rsquo;s Story
              </a>
            </div>
          </section>
        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}
