{% extends "engage/_template.engage.html" %}

{% set title = "Copilot: Teacher Stories" %}
{% set page_description = title %}

{% block masthead %}

<div class="row justify-content-center">
  <div class="col-12">
    <h1 class="teacher-stories-name">Kathleen Duffy</h1>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="teacher-stories">
  <div class="container">
    <div class="row">
      <div class="col-md-4 order-md-last order-first">
        <div class="sidebar">
          <section class="nav">
            <div class="nav-engage">
              <a href="/orientation/elevate">Sign up for Copilot</a>
            </div>
            <div class="nav-engage">
              <a href="/copilot/stories-biddix">Teacher Stories</a>
            </div>
            <div class="nav-engage">
              <a href="/copilot/stories-fremont">Team &amp; Admin Stories</a>
              <hr />
            </div>

            <div class="nav-stories nav-next">
              <a href="/copilot/stories-fremont">
                Fremont Union High School District
                <i class="fa fa-angle-right"></i>
              </a>
            </div>

            <div class="nav-stories nav-prev">
              <a href="/copilot/stories-feineis">
                <i class="fa fa-angle-left"></i>
                Shannon Feineis
              </a>
            </div>
          </section>

          <!--
          Chris Biddix
          Meghan Byrne
          Hirvelt Megie
          Shannon Feineis
          Kathleen Duffy
          -->

          <section class="profile">
            <div class="profile-photo">
              <img src="/static/images/teacher-stories-duffy.jpg" alt="" />
            </div>

            <div class="profile-text">
              <h2>Kathleen Duffy</h2>

              <div class="profile-text-label">Teaching experience</div>
              <div class="profile-text-text">7 years</div>

              <div class="profile-text-label">Class/subject</div>
              <div class="profile-text-text">
                Freshmen, Global Studies Honors
              </div>

              <div class="profile-text-label">School</div>
              <div class="profile-text-text">Barrington High School</div>

              <div class="profile-text-label">Location</div>
              <div class="profile-text-text">Barrington, IL</div>

              <div class="profile-text-label">Size</div>
              <div class="profile-text-text">2,950 students</div>

              <div class="profile-text-label">Demographics</div>
              <div class="profile-text-text">
                66% White, 17% Hispanic/Latinx, 13% Asian, 3% mixed race, 1%
                Black
              </div>

              <div class="profile-text-label">Time using Copilot</div>
              <div class="profile-text-text">3 months</div>

              <div class="profile-text-label">Top focus area</div>
              <div class="profile-text-text">Meaningful Work</div>

              <div class="profile-text-label">Improvement</div>
              <div class="profile-text-text">+39%</div>

              <div class="profile-text-label">Implementation partner</div>
              <div class="profile-text-logo">
                <a href="https://www.eoschools.org">
                  <img src="/static/images/engage/eos_logo.png" />
                </a>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="col-md-8">
        <section id="benefits-for-teachers" class="group">
          <h2>Background</h2>
          <p>
            Kathleen Duffy teaches honors and AP classes in World History,
            Global Studies, Sociology, and Gender Studies at Barrington High
            School in the suburbs of Chicago. For her Copilot work, Kathleen
            focused on three AP World History classes and a Global Studies class
            for freshmen, which includes students with a range of academic
            backgrounds.
          </p>

          <p>
            <em
              >Kathleen used Copilot as part of
              <a href="https://eoschools.org"
                >Equal Opportunity Schools&rsquo;</a
              >
              Equity Leader Labs project.</em
            >
          </p>

          <h2>Starting out</h2>
          <p>
            &ldquo;I felt like I was giving feedback and kids weren&rsquo;t
            noticing,&rdquo; Kathleen said, &ldquo;so I decided to focus on
            Feedback for Growth.&rdquo; Kathleen resolved to be more deliberate
            and direct with her students and to help them cultivate a mentality
            about working together to achieve an end goal.
          </p>

          <h2>
            A new approach - &ldquo;Feed Your Soul Fridays&rdquo; and discussing
            survey results
          </h2>
          <p>
            In 2018, after the tragic shooting at Marjory Stoneman Douglas High
            School in Parkland, Fla., Kathleen instituted &ldquo;Feed Your Soul
            Fridays&rdquo; to balance the academic material that she prioritized
            during the rest of the week. For the first 10 minutes of class each
            Friday she emphasizes a social-emotional skill, such as cultivating
            empathy, to help her students see how their schoolwork applies to
            different aspects of life, such as combating xenophobia. This is the
            first academic year that Kathleen has incorporated &ldquo;Feed Your
            Soul Fridays,&rdquo; and she says it has paid big dividends and
            blended well with Copilot (<a
              href="https://docs.google.com/presentation/d/1CR7YSo0D5LfzAzSNBmYaF0dmxXRCDYhboRbW3YDS9I8/edit#slide=id.p"
              >learn more about Feed Your Soul Fridays </a
            >&mdash;thanks Kathleen!).
          </p>
          <p>
            Kathleen also discussed her goals and survey results directly with
            her students, which resulted in unexpected revelations -- such as a
            group of students expressing the belief that asking questions and
            exposing mistakes are signs of weakness, rather than opportunities
            to learn. Not only was Kathleen able to address these
            misconceptions, but the very act of asking students about their
            survey responses showed them that she cared about their answers.
            Kathleen thinks that her discussions about Copilot caused her
            students to engage with the survey in a deeper and more thoughtful
            way.
          </p>

          <h2>Results</h2>
          <p>
            Surprisingly, the strategies that Kathleen used to improve
            Feedback for Growth ended up helping her students to find
            her classes more relevant, as she achieved a 39 percentage-point
            improvement in her survey results on Meaningful Work over a
            three-week span. Kathleen says that Copilot has taught her to be
            more literal and explicit with her students about the purpose of
            what she&rsquo;s doing with them, &ldquo;instead of just expecting
            them to follow along blindly.&rdquo;
          </p>

          <section class="nav main">
            <div class="nav-stories nav-next">
              <a href="/copilot/stories-fremont">
                Read Fremont Union High School District&rsquo;s Story
                <i class="fa fa-angle-right"></i>
              </a>
            </div>

            <div class="nav-stories nav-prev">
              <a href="/copilot/stories-feineis">
                <i class="fa fa-angle-left"></i>
                Read Shannon Feineis&rsquo; Story
              </a>
            </div>
          </section>
        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}
