{% extends "engage/_template.engage.html" %}

{% set title = "Copilot: Team and Admin Stories" %}
{% set page_description = title %}

{% block masthead %}

<div class="row justify-content-center">
  <div class="col-12">
    <h1 class="teacher-stories-name">Fremont Union High School District</h1>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="teacher-stories">
  <div class="container">
    <div class="row">
      <div class="col-md-4 order-md-last order-first">
        <div class="sidebar">
          <section class="nav">
            <div class="nav-engage">
              <a href="/orientation/elevate">Sign up for Copilot</a>
            </div>
            <div class="nav-engage">
              <a href="/copilot/stories-biddix">Teacher Stories</a>
            </div>
            <div class="nav-engage">
              <a href="/copilot/stories-fremont">Team &amp; Admin Stories</a>
              <hr />
            </div>

            <div class="nav-stories nav-next">
              <a href="/copilot/stories-pritzker">
                Pritzker College Prep
                <i class="fa fa-angle-right"></i>
              </a>
            </div>

            <div class="nav-stories nav-prev">
              <a href="/copilot/stories-duffy">
                <i class="fa fa-angle-left"></i>
                Kathleen Duffy
              </a>
            </div>
          </section>

          <section class="profile">
            <div class="profile-photo">
              <img
                src="/static/images/engage/fremont_team.jpg"
                alt="Josh Maisel's team"
              />
            </div>

            <div class="profile-text">
              <h2>Fremont Union High School District</h2>

              <div class="profile-text-label">Location</div>
              <div class="profile-text-text">Fremont, CA</div>

              <div class="profile-text-label">Size</div>
              <div class="profile-text-text">11,000 students</div>

              <div class="profile-text-label">Demographics</div>
              <div class="profile-text-text">
                60% Asian, 18% White, 15% Hispanic/Latinx, 7% other
              </div>

              <div class="profile-text-label">Participating teachers</div>
              <div class="profile-text-text">40</div>

              <div class="profile-text-label">Average Improvement</div>
              <div class="profile-text-text">14%</div>

              <div class="profile-text-logo">
                <a href="https://www.fuhsd.org/">
                  <img src="/static/images/engage/fremont_hs_logo.png" />
                </a>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="col-md-8">
        <section id="benefits-for-teachers" class="group">
          <h2>Getting Started</h2>
          <div style="float: left; width: 200px; margin: 20px 30px 10px 10px;">
            <img
              src="/static/images/engage/kirk_hinton.jpg"
              alt="Kirk Hinton"
            />
          </div>
          <p>
            When Kirk Hinton learned he’d be one of 40 teachers using Copilot in
            the Fremont Union High School District (FUHSD), he was
            excited&mdash;but skeptical.
          </p>
          <p>
            Kirk is a big believer in continuously working to improve as an
            educator, and he was intrigued by Copilot&rsquo;s approach of
            regularly surveying students about their classroom experiences and
            his own teaching practice. He was curious what the data might tell
            him about things he could do differently in his work teaching
            British and American Literature to seniors and juniors.
          </p>
          <p>
            “I want to make sure I’m doing whatever I can to give my students
            the best possible learning experience,” he said.
          </p>
          <p>
            At the same time, as a 16-year teacher, Kirk has experienced a lot
            of training programs with little differentiation. “After teaching
            for a while, you see a lot of the same types of PD programs come
            down the pike,” he said.
          </p>
          <p>
            “I was pleasantly surprised by Copilot,” he added.
          </p>
          <h2>About Copilot</h2>
          <p>
            Copilot is a tool created by the Project for Education Research that
            Scales (PERTS). Copilot helps teachers leverage the science of
            motivation and each other’s expertise to foster students’ internal
            drive to learn. Academically-engaged students are more likely to
            learn and succeed in school, and are better positioned for a
            productive, healthy, and intellectually stimulating life.
          </p>
          <p>
            Copilot surveys students about key
            <a href="/elevate/measures">learning conditions</a> that affect
            student engagement and can be improved through evidence-based
            strategies. For example, students agree or disagree with statements
            like, “This week in class, I got specific suggestions about how to
            improve my skills,” and “I feel like my teacher is glad that I am
            in their class.” For more information about these conditions and
            resources to help improve them, visit
            <a href="https://equitablelearning.org">equitablelearning.org</a>.
          </p>
          <h2>Using Copilot</h2>
          <p>
            Josh Maisel, the Coordinator of Academic Interventions at FUHSD, is
            the person responsible for bringing Copilot to the district, which
            includes 11,000 students attending five high schools in the heart of
            Silicon Valley. Josh has been mentoring FUHSD teachers for more than
            a decade. He was strongly influenced by Carol Dweck’s work on the
            importance of helping students develop a growth mindset about
            learning, and efforts to enhance engagement and motivation
            “undergird everything we do,” he said.
          </p>
          <p>
            Josh previously developed a year-long training program for teachers
            new to FUHSD based on the book “The Skillful Teacher.” The focus
            areas in Copilot lined up well with the three core elements of
            motivation as described by The Skillful Teacher&mdash;“This Is
            Important,” “You Can Do It,” and “I Won’t Give Up On You”&mdash;so
            he thought the two programs would mesh well.
          </p>
          <p>
            “Copilot aligned really perfectly with some of the essential skills
            we’re trying to build with teachers,” Josh said.
          </p>
          <p>
            Josh and four other mentors led groups of 5-8 teachers as they used
            Copilot. Josh gave them wide latitude to figure out both logistical
            issues, such as when and how often to administer the surveys, and
            which of the focal areas to work on.
          </p>
          <p>
            “We were trusted as professionals to determine how to implement it,
            which was nice,” said Kirk.
          </p>
          <h2>Results</h2>
          <p>
            National surveys show that student engagement tends to go down on
            average, both within and across school years (Gallup, 2015). With
            this in mind, it is remarkable that
            <strong
              >93% of the Fremont teachers who ran at least two Copilot surveys
              showed improved student engagement</strong
            >
            along at least one learning condition.
            <strong>On average, they improved 14%</strong>.
          </p>
          <p>
            In Kirk’s case, after conducting two surveys in his Honors American
            Literature course for juniors, he decided to focus on improving
            Teacher Caring and Meaningful Work. He particularly wanted
            to motivate a more diverse mix of students to participate in
            classroom discussions, which tended to be dominated by a handful of
            highly vocal students.
          </p>
          <p>
            He received helpful suggestions from peers in his work group and
            tried a mix of approaches, including having 1:1 conversations with
            students to ensure they knew he valued and wanted to hear their
            thoughts in class and that he welcomed a diversity of opinions. His
            efforts paid off with impressive improvements in multiple learning
            conditions. In two classes, Meaningful Work improved more than 24%
            and Feedback for Growth improved more than 26%. Teacher Caring
            improved as well, although they already began at a high level,
            giving him less room to grow.
          </p>
          <p>
            “It’s a great tool,” said Josh Maisel, who will oversee a second
            cohort of Copilot teachers in FUHSD in 2019-20. “The survey is
            really asking the right questions and putting data in front of
            teachers that can be helpful.”
          </p>
          <section class="nav main">
            <div class="nav-stories nav-next">
              <a href="/copilot/stories-pritzker">
                Read Pritzker College Prep&rsquo;s Story
                <i class="fa fa-angle-right"></i>
              </a>
            </div>

            <div class="nav-stories nav-prev">
              <a href="/copilot/stories-duffy">
                <i class="fa fa-angle-left"></i>
                Read Kathleen Duffy&rsquo;s Story
              </a>
            </div>
          </section>
        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}
