{% extends "engage/_template.engage.html" %}

{% set title = "Copilot: Teacher Stories" %}
{% set page_description = title %}

{% block masthead %}

<div class="row justify-content-center">
  <div class="col-12">
    <h1 class="teacher-stories-name">Hirvelt Megie</h1>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="teacher-stories">
  <div class="container">
    <div class="row">
      <div class="col-md-4 order-md-last order-first">
        <div class="sidebar">
          <section class="nav">
            <div class="nav-engage">
              <a href="/orientation/elevate">Sign up for Copilot</a>
            </div>
            <div class="nav-engage">
              <a href="/copilot/stories-biddix">Teacher Stories</a>
            </div>
            <div class="nav-engage">
              <a href="/copilot/stories-fremont">Team &amp; Admin Stories</a>
              <hr />
            </div>

            <div class="nav-stories nav-next">
              <a href="/copilot/stories-feineis">
                Shannon Feineis
                <i class="fa fa-angle-right"></i>
              </a>
            </div>

            <div class="nav-stories nav-prev">
              <a href="/copilot/stories-byrne">
                <i class="fa fa-angle-left"></i>
                Meghan Byrne
              </a>
            </div>
          </section>

          <!--
          Chris Biddix
          Meghan Byrne
          Hirvelt Megie
          Shannon Feineis
          Kathleen Duffy
          -->

          <section class="profile">
            <div class="profile-photo">
              <img src="/static/images/teacher-stories-megie.jpg" alt="" />
            </div>

            <div class="profile-text">
              <h2>Hirvelt Megie</h2>

              <div class="profile-text-label">Teaching experience</div>
              <div class="profile-text-text">4 years</div>

              <div class="profile-text-label">Class/subject</div>
              <div class="profile-text-text">
                Juniors, Medical Science Technology
              </div>

              <div class="profile-text-label">School</div>
              <div class="profile-text-text">John Dewey High School</div>

              <div class="profile-text-label">Location</div>
              <div class="profile-text-text">Brooklyn, NY</div>

              <div class="profile-text-label">Size</div>
              <div class="profile-text-text">2,180 students</div>

              <div class="profile-text-label">Demographics</div>
              <div class="profile-text-text">
                30% Asian, 30% Black, 24% Hispanic/Latinx, 13% White, 3% other
                or mixed race
              </div>

              <div class="profile-text-label">Time using Copilot</div>
              <div class="profile-text-text">
                Two months (started March 2019)
              </div>

              <div class="profile-text-label">Top focus area</div>
              <div class="profile-text-text">Teacher Caring</div>

              <div class="profile-text-label">Improvement</div>
              <div class="profile-text-text">+20%</div>

              <div class="profile-text-label">Implementation partner</div>
              <div class="profile-text-logo">
                <a href="https://relay.edu">
                  <img src="/static/images/engage/relay_logo.png" />
                </a>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="col-md-8">
        <section id="benefits-for-teachers" class="group">
          <h2>Background</h2>
          <p>
            Hirvelt Megie is in his fourth year as a science teacher at John
            Dewey High School in Brooklyn. One course he often struggles with is
            Medical Science Technology for juniors. The class is an elective,
            and there is no state exam for it at the end of the year. This means
            that he has flexibility in how he designs the curriculum, but also
            that his students can sometimes have lower expectations for their
            own performance.
          </p>

          <p>
            <em
              >Hirvelt used Copilot as part of a partnership with
              <a href="https://relay.edu">Relay Graduate School of Education</a
              >.
            </em>
          </p>

          <h2>Starting out</h2>
          <p>
            &ldquo;That first report was an eye-opener,&rdquo; Hirvelt said. His
            survey results were lower than he anticipated, particularly on
            Teacher Caring and Meaningful Work, which caused him to personally
            resolve to make improvements.
          </p>

          <h2>A new approach - redesigning a unit to amplify student voice</h2>
          <p>
            Hirvelt knew that many of his students were big fans of superheroes,
            so he completely redesigned his unit on genetic engineering to work
            around the concept of superheroes and supervillains. He started with
            the story of Spider-Man, who received his superpowers from a
            genetically mutated spider, and built the unit around having
            students genetically engineer a superhero. He also wanted to amplify
            his students&rsquo; voice and give more autonomy, so he gave them
            opportunities to shape how the class tackled their material. For
            instance, Hirvelt agreed to let his students create supervillains
            instead of superheroes, and allowed students who were strong writers
            to craft stories about their characters. Hirvelt knew the core
            content that he wanted to convey (around DNA, its structure and
            function, and how it can be manipulated to cause changes in
            organisms), and his clarity about the content allowed him to be
            flexible about how it was framed and taught.
          </p>

          <h2>Results</h2>
          <p>
            Hirvelt achieved a 20 percentage-point improvement on Teacher
            Caring, a 17-point improvement on Feedback for Growth, and a
            15-point improvement on Meaningful Work &mdash; while also receiving
            a round of applause from both classes where he made changes!
            According to Hirvelt, his students appreciated the opportunity to
            productively struggle in groups on a fun challenge where they had
            agency and input.
          </p>

          <section class="nav main">
            <div class="nav-stories nav-next">
              <a href="/copilot/stories-feineis">
                Read Shannon Feineis&rsquo; Story
                <i class="fa fa-angle-right"></i>
              </a>
            </div>

            <div class="nav-stories nav-prev">
              <a href="/copilot/stories-byrne">
                <i class="fa fa-angle-left"></i>
                Read Meghan Byrne&rsquo;s Story
              </a>
            </div>
          </section>
        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}
