{% extends "engage/_template.engage.html" %}

{% set title = "Copilot: Team and Admin Stories" %}
{% set page_description = title %}

{% block masthead %}

<div class="row justify-content-center">
  <div class="col-12">
    <h1 class="teacher-stories-name">Pritzker College Prep</h1>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="teacher-stories">
  <div class="container">
    <div class="row">
      <div class="col-md-4 order-md-last order-first">
        <div class="sidebar">
          <section class="nav">
            <div class="nav-engage">
              <a href="/orientation/elevate">Sign up for Copilot</a>
            </div>
            <div class="nav-engage">
              <a href="/copilot/stories-biddix">Teacher Stories</a>
            </div>
            <div class="nav-engage">
              <a href="/copilot/stories-fremont">Team &amp; Admin Stories</a>
              <hr />
            </div>

            <div class="nav-stories nav-next">
              <a href="/copilot/stories-biddix">
                Chris Biddix
                <i class="fa fa-angle-right"></i>
              </a>
            </div>

            <div class="nav-stories nav-prev">
              <a href="/copilot/stories-fremont">
                <i class="fa fa-angle-left"></i>
                Fremont Union High School District
              </a>
            </div>
          </section>

          <section class="profile">
            <div class="profile-photo">
              <img
                src="/static/images/engage/mollie_griffin.jpg"
                alt="Mollie Griffin"
              />
            </div>

            <div class="profile-text">
              <h2>Pritzker College Prep</h2>

              <div class="profile-text-label">Location</div>
              <div class="profile-text-text">Chicago, IL</div>

              <div class="profile-text-label">Size</div>
              <div class="profile-text-text">950 students</div>

              <div class="profile-text-label">Demographics</div>
              <div class="profile-text-text">
                95% Hispanic/Latinx, 4% Black, 1% White
              </div>

              <div class="profile-text-label">Participating teachers</div>
              <div class="profile-text-text">8</div>

              <div class="profile-text-label">Average Improvement</div>
              <div class="profile-text-text">16%</div>

              <div class="profile-text-logo">
                <a href="https://nobleschools.org/pritzker/">
                  <img src="/static/images/engage/pritzker_logo.png" />
                </a>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="col-md-8">
        <section id="benefits-for-teachers" class="group">
          <h2>Getting Started</h2>
          <p>
            One reason teachers sometimes resist professional development
            programs is when they are delivered “top-down,” meaning the programs
            are selected and pushed by school leaders without input or buy-in
            from the teachers themselves.
          </p>
          <p>
            That was definitely <em>not</em> the case when teachers at Pritzker
            College Prep in Chicago began using Copilot in 2017-18.
          </p>
          <p>
            Chris Biddix, who teaches math to sophomores at Pritzker, had heard
            about the program through a friend. He liked the idea of regularly
            surveying his students to find out how they were experiencing his
            class and to see whether they thought their schoolwork was valuable.
            He also thought the goals of Copilot fit well with Pritzker’s
            emphasis on seeing students through both qualitative and
            quantitative lenses.
          </p>
          <p>
            He pitched the program to the school’s administrators, and they gave
            him a green light to try it out because they saw its alignment with
            Pritzker’s emphasis on student-centered learning.
          </p>
          <p>
            Chris pioneered Copilot with a small, opt-in cohort of 3 teachers
            that first year, and the results were promising for students and
            teachers alike. So in 2018-19, Chris and his supervisor decided to
            roll it out to all of the school’s 10th grade teachers, who
            enthusiastically embraced the program.
          </p>
          <p>
            “I had very little involvement,” said Mollie Griffin, the school’s
            Dean of Instruction. “Copilot was almost entirely teacher-driven at
            Pritzker.”
          </p>
          <h2>About Copilot</h2>
          <p>
            Copilot is a tool created by the Project for Education Research that
            Scales (PERTS). Copilot helps teachers leverage the science of
            motivation and each other’s expertise to foster students’ internal
            drive to learn. Academically-engaged students are more likely to
            learn and succeed in school, and are better positioned for a
            productive, healthy, and intellectually stimulating life.
          </p>
          <p>
            Copilot surveys students about key
            <a href="/elevate/measures">learning conditions</a> that affect
            student engagement and can be improved through evidence-based
            strategies. For example, students agree or disagree with statements
            like, “This week in class, I got specific suggestions about how to
            improve my skills,” and “I feel like my teacher is glad that I am
            in their class.” For more information about these conditions and
            resources to help improve them, visit
            <a href="https://equitablelearning.org">equitablelearning.org</a>.
          </p>
          <h2>Using Copilot</h2>
          <p>
            At Pritzker, Chris Biddix and his colleagues decided to conduct the
            survey three times in 2018-19—in the late fall, winter, and early
            spring—to protect teachers’ classroom time. In the winter, they
            allowed students to complete the survey at home on their own time,
            but participation plummeted, so they concluded that keeping it part
            of the school day was a better way to go.
          </p>
          <p>
            Pritzker teachers decided for themselves which learning
            conditions they wanted to focus on in their classrooms. Many decided
            to emphasize Feedback for Growth, according to Mollie Griffin, but
            often the teaching moves they tested led to improvements in multiple
            conditions.
          </p>
          <h2>Results</h2>
          <p>
            All told, 100% of the Pritzker teachers improved at least one
            learning condition, and three quarters of them improved over 20%
            points. On average, they improved 16%.
          </p>
          <p>
            Charles Rosentel, who teaches world history to 10th graders at
            Pritzker, registered an impressive 30% improvement in Meaningful
            Work between the first and third surveys.
          </p>
          <p>
            He believes one reason for the change was a chance conversation with
            one of his students, who shared that she didn’t see the relevance of
            Charles’ class for her life because she didn’t want to major in
            history in college.
          </p>
          <p>
            Charles learned that the student’s career interests included
            becoming a therapist or doing criminal justice work for the FBI or
            CIA. He pointed out to her that both careers would require careful
            listening and interpersonal skills, and that criminal justice work
            involves integrating and corroborating evidence across sources—all
            of which are skills explicitly practiced in his history class.
          </p>
          <p>
            With the student’s permission, Charles decided to use the exchange
            as a teachable moment in all of his classes. “I told them, ‘I do not
            expect most of my students to become history majors, but I expect
            you to develop skills to succeed in whatever you do.’”
          </p>
          <p>
            Interestingly, both veteran and new Pritzker teachers were able to
            critically assess and improve their classroom practice. Mollie
            Griffin noted that Charles Rosentel already had several years of
            experience, and that several other teachers at Pritzker who
            registered large improvements in Copilot learning conditions
            likewise had considerable experience. Other teachers with less
            experience were still able to make significant improvements in
            their classes.
          </p>
          <p>
            Chris Biddix and his team plan to keep using Copilot next year. He
            achieved a 26% improvement in Meaningful Work in his
            10th grade math class and, more importantly, saw many of his
            previously struggling students post big increases in unit
            assessments.
          </p>
          <p>
            “I think that's an amazing trend that speaks to the value of culture
            and the value of the domains [emphasized in Copilot],” he
            said.
          </p>
          <section class="nav main">
            <div class="nav-stories nav-next">
              <a href="/copilot/stories-biddix">
                Read Chris Biddix&rsquo;s Story
                <i class="fa fa-angle-right"></i>
              </a>
            </div>

            <div class="nav-stories nav-prev">
              <a href="/copilot/stories-fremont">
                <i class="fa fa-angle-left"></i>
                Read Fremont Union High School District&rsquo;s Story
              </a>
            </div>
          </section>
        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}
