{% extends "engage/_template.engage.html" %}

{% set title = "Copilot: Teacher Stories" %}
{% set page_description = title %}

{% block masthead %}

<div class="row justify-content-center">
  <div class="col-12">
    <h1 class="teacher-stories-name">Chris Biddix</h1>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="teacher-stories">
  <div class="container">
    <div class="row">
      <div class="col-md-4 order-md-last order-first">
        <div class="sidebar">
          <section class="nav">
            <div class="nav-engage">
              <a href="/orientation/elevate">Sign up for Copilot</a>
            </div>
            <div class="nav-engage">
              <a href="/copilot/stories-biddix">Teacher Stories</a>
            </div>
            <div class="nav-engage">
              <a href="/copilot/stories-fremont">Team &amp; Admin Stories</a>
              <hr />
            </div>

            <div class="nav-stories nav-next">
              <a href="/copilot/stories-byrne">
                Meghan Byrne
                <i class="fa fa-angle-right"></i>
              </a>
            </div>

            <div class="nav-stories nav-prev">
              <a href="/copilot/stories-pritzker">
                <i class="fa fa-angle-left"></i>
                Pritzker College Prep
              </a>
            </div>
          </section>

          <!--
          Chris Biddix
          Meghan Byrne
          Hirvelt Megie
          Shannon Feineis
          Kathleen Duffy
          -->

          <section class="profile">
            <div class="profile-photo">
              <img src="/static/images/teacher-stories-biddix.jpg" alt="" />
            </div>

            <div class="profile-text">
              <h2>Chris Biddix</h2>

              <div class="profile-text-label">Teaching experience</div>
              <div class="profile-text-text">7 years</div>

              <div class="profile-text-label">Class/subject</div>
              <div class="profile-text-text">Sophomores, Math</div>

              <div class="profile-text-label">School</div>
              <div class="profile-text-text">Pritzker College Prep</div>

              <div class="profile-text-label">Location</div>
              <div class="profile-text-text">Chicago, IL</div>

              <div class="profile-text-label">Size</div>
              <div class="profile-text-text">950 students</div>

              <div class="profile-text-label">Demographics</div>
              <div class="profile-text-text">
                95% Hispanic/Latinx, 4% Black, 1% White
              </div>

              <div class="profile-text-label">Time using Copilot</div>
              <div class="profile-text-text">Two years</div>

              <div class="profile-text-label">Top focus area</div>
              <div class="profile-text-text">Meaningful Work</div>

              <div class="profile-text-label">Improvement</div>
              <div class="profile-text-text">+26%</div>
            </div>
          </section>
        </div>
      </div>

      <div class="col-md-8">
        <section id="benefits-for-teachers" class="group">
          <h2>Background</h2>
          <p>
            Chris Biddix teaches math to sophomores at Pritzker College Prep, a
            charter high school in Chicago, Ill. His classes are generally
            around 20-30 students. One class in particular had lower incoming
            math scores, which led Chris to focus heavily on building a
            cooperative culture of learning.
          </p>

          <h2>Starting out</h2>
          <p>
            Chris was surprised when his initial surveys revealed that few
            students reported experiencing the work in his class as meaningful.
            For example, relatively few endorsed the statement, &ldquo;This
            week, I learned skills in class that will help me succeed later in
            life.&rdquo; He decided to concentrate on finding new ways to make
            the relevance of his material more clear to his students.
          </p>

          <h2>A new approach - &ldquo;Running the Stairs&rdquo;</h2>
          <p>
            Chris took an unconventional approach by acknowledging to his
            students that not everything that he is teaching them was directly
            necessary for their lives. Instead, he noted when math content was
            useful for the SATs and college access, and he also frequently
            invited his students to think of math exercises and homework
            problems as intellectual &ldquo;cross-training.&rdquo; Just as high
            school runners or soccer players run up and down the stairs to
            improve their aerobic capacity, mathematics can build analytical
            skills and mental toughness that will help students in many aspects
            of their lives. His students began to refer to their practice as
            &ldquo;running the stairs.&rdquo; Chris felt that his students
            noticed and appreciated his authenticity, and that this made them
            more open to the idea that math can build a broader range of
            thinking skills.
          </p>
          <p>
            Chris also spoke often with fellow teachers who were using
            Copilot to compare results and trade ideas about strategies to use
            in the classroom. In particular, he worked with a co-teacher to
            conduct follow-up interviews with his students about their answers
            and to ask how Chris could make class more meaningful and engaging.
            The process helped Chris to get a richer picture of his
            students&rsquo; experiences and to get ideas for improvements.
          </p>

          <h2>Results</h2>
          <p>
            Chris saw a remarkable 26 percentage-point improvement in his survey
            results around Meaningful Work between January 28 and March 24,
            2019. In addition, Chris said, the students in his focal class began
            &ldquo;beating other classes in unit assessments [even though they
            previously came in lowest.] I think that&rsquo;s an amazing trend
            that speaks to the value of culture and the value of the
            domains [emphasized in Copilot].&rdquo;
          </p>

          <section class="nav main">
            <div class="nav-stories nav-next">
              <a href="/copilot/stories-byrne">
                Read Meghan Byrne&rsquo;s Story
                <i class="fa fa-angle-right"></i>
              </a>
            </div>

            <div class="nav-stories nav-prev">
              <a href="/copilot/stories-pritzker">
                <i class="fa fa-angle-left"></i>
                Read Pritzker College Prep&rsquo;s Story
              </a>
            </div>
          </section>
        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}
