<div ng-show="user.auth_type == 'direct'">
    <h3>Change password</h3>
    <div class="alert" ng-class="{'alert-danger': !success, 'alert-success': success}"
       role="alert" ng-show="success!=null">
        [[ successMessage ]]
    </div> 
    <form name="changePasswordForm" role="form">
        <div class="form-group">
            <label for="changePassword_current">Current password</label>
            <input id="changePassword_current" type="password"
                   ng-model="currentPassword" required class="form-control">
            <!-- for spacing -->
            <span class="invisible">&nbsp;</span>
        </div>
        <div class="form-group">
            <label for="changePassword_new">New password</label>
            <input id="changePassword_new" type="password"
                   ng-model="newPassword" name="newPassword" required
                   ng-blur="newPasswordBlurred=true"
                   ng-pattern="passwordRegex" class="form-control">
            <span class="password"
                  ng-class="{invisible: !newPasswordBlurred || !changePasswordForm.newPassword.$invalid}">
                <i class="glyphicon glyphicon-warning-sign"></i>
                at least 8 characters, please
            </span>
        </div>
        <div class="form-group">
            <label for="changePassword_repeat">Repeat new password</label>
            <input id="changePassword_repeat" type="password"
                   ng-model="repeatPassword" required class="form-control"
                   ng-blur="repeatPasswordBlurred=true">
            <span class="password"
                  ng-class="{invisible: !repeatPasswordBlurred || passwordsMatch()}">
                <i class="glyphicon glyphicon-warning-sign"></i>
                passwords do not match
            </span>
        </div>
        <button ng-click="changePassword()"
                ng-disabled="changePasswordForm.$invalid || !passwordsMatch()">
                submit
        </button>
    </form>
</div>
