{# PERTS : Template : Program Orientation Page #}

{# DO NOT CHANGE #}
{% extends "orientation/_template.orientation.html" %}

{# TODO: Update the following program information: #}
{% set program_name = "Growth Mindset for College Students" %}
{% set program_label = "cg" %}
{% set program_cohort = "Spring 2018" %}
{% set program_description = "
  A free, evidence-based program designed to increase students' engagement, motivation, and ultimately success by laying the foundation for a growth mindset.
" %}

{# TODO: Set program participation settings: #}
{% set participation_is_open = false %}
{% set participation_enrolled = 0 %}
{% set participation_slots = 100 %}

{# TODO: Set program YouTube video's ID or false if not using one:            #}
{#       Example: if the YouTube video's location is                          #}
{#         https://www.youtube.com/watch?v=YYJLMmWZiMQ                        #}
{#         then {% set youtube = "YYJLMmWZiMQ" %}                             #}
{% set youtube = "YYJLMmWZiMQ" %}
