<div id="about-the-ctc" class="section color5">
  <h2>About the CTC</h2>
  <p>
    The <a href="http://collegetransitioncollaborative.org/">College Transition
    Collaborative</a> (CTC) brings together researchers and higher education
    leaders to create learning environments that produce more equitable
    post-secondary outcomes. Our work places the student experience at the
    center of student success initiatives, conveying to all students they are
    valued, respected, and can excel even in the face of difficulties and
    setbacks. We work with colleges and universities to ensure that,
    particularly during moments of challenge, students feel like they are able
    to persevere and that their school cares about their success.
  </p>
</div>
