<div id="about-perts" class="section color5">
  <h2>About PERTS</h2>
  <p>
    PERTS is an applied research center based out of Stanford University. We
    believe that evidence-based strategies should benefit all students, not just
    the privileged few. To make research accessible to all, we empower educators
    everywhere to implement evidence-based strategies cost-effectively. We are
    so excited to bring you Social-Belonging for College Students and to make
    the latest research on social belonging strategies actionable to every
    college in the United States.
  </p>
</div>
