<footer>
  <div class="container">

    <!-- footer links -->
    <div class="row">
      <div class="col-lg-2">
        <ul class="footer-category">
          <li class="category-label">
            <a href="/">Home</a>
          </li>
          <li class="footer-link">
            <a href="/about">About Us</a>
          </li>
          <li class="footer-link">
            <a href="/our-work">Our Work</a>
          </li>
          <li class="footer-link">
            <a href="/about#team">Our Team</a>
          </li>
          <li class="footer-link">
            <a href="/research">Our Research</a>
          </li>
          <li class="footer-link">
            <a href="/press_kit">Press Kit</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2">
        <ul class="footer-category">
          <li class="category-label">
            <a href="/resources">Resources</a>
          </li>
          <li class="footer-link">
            <a href="https://www.mindsetkit.org">Mindset Kit</a>
          </li>
          <li class="footer-link">
            <a href="http://survey.perts.net">Mindset Meter</a>
          </li>
          <li class="footer-link">
            <a href="https://medium.com/@pertslab">Our Blog</a>
          </li>
          <li class="footer-link">
            <a href="/network-test">Network Test</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2">
        <ul class="footer-category">
          <li class="category-label">
            <a href="/contact">Contact Us</a>
          </li>
          <li class="footer-link">
            <a href="/programs">Enroll in a Program</a>
          </li>
          <li class="footer-link">
            <a href="/careers">Career Opportunities</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 ml-auto connect-links">
        <ul class="footer-category">
          <li class="category-label">
            <a href="/contact">Connect with us</a>
          </li>
          <li class="footer-link">
            <a target="_blank" href="https://facebook.com/pertslab">Facebook</a>
          </li>
          <li class="footer-link">
            <a target="_blank" href="https://twitter.com/pertslab">Twitter</a>
          </li>
          <li class="footer-link">
            <a target="_blank" href="https://medium.com/@pertslab">Medium</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- perts -->
    <div class="row">
      <div class="col-12">
        <div class="subfooter">
          <span class="perts">PERTS</span> ©
          <a class="tiny-footer-link" href="/terms">Terms of Use</a>
        </div>
      </div>
    </div>

  </div>
</footer>
