<div id="more-info" class="section color5">
  <h2>For More Information</h2>
  <ul>
    <li>
      Learn more about our work and how schools can get involved on our <a
      href="http://collegetransitioncollaborative.org/">website</a>.
    </li>

    <li>
      Read about our previous work as covered by The New York Times <a
      href="https://www.nytimes.com/2014/05/18/magazine/who-gets-to-graduate.html?_r=1">
      here</a> and <a href="https://www.nytimes.com/2016/08/21/opinion/sunday/conquering-the-freshman-fear-of-failure.html">
      here</a>.
    </li>

    <li>
      Read more about the results of our latest large-scale trials, published
      <a href="http://www.pnas.org/content/113/24/E3341.abstract">in PNAS</a>.
    </li>
  </ul>
</div>
