{% extends "p2-base.html" %}

{% block title %}
High School Transition Program
{% endblock %}

{% block content %}

<header class="page-header">
    <h1 class="page-title">High School Transition Program - <font color="red">Enrolling Now for Spring 2015!</font></h1>
</header>
<section id="main">
    <p><img src="/static/home/img/perts_img/hs7_complab.jpg"></p>

    <br>
    <h2>A brief, online program designed to raise academic achievement and motivation</h2>
    <br>

    <h3><b>Helping students become resilient learners by teaching a growth mindset</h3></b>

    <p><a href="https://app.box.com/shared/static/91culhhl4cte5dmx5736.pdf">This program</a> teaches students that the brain is like a muscle and can become stronger by taking on new challenges and putting in effort. When students learn this, they try harder and do better in school. <a href="https://www.perts.net/resources#readings"> Past research</a> shows that programs that teach students that intelligence can be developed, known as &quotgrowth mindset programs,&quot improve students’ grades and course pass rates.</p>
    
    <h3><b>About the Program</h3></b>
    <p>
        <ul>
            <li><i><b>Scientifically Validated:</i></b> <a href="https://www.perts.net/about#results"> Similar PERTS programs</a> have increased GPAs and course pass rates, especially for students struggling academically.</li>
            <li><i><b>Developed by Experts:</i></b> Designed by <a href="https://www.perts.net/about#team">leading education and motivation researchers</a>.</li>
            <li><i><b>Engaging:</i></b> Program includes brief passages of reading, writing exercises, personal stories from other students, audio, and survey questions.</li> 
            <li><i><b>Simple:</i></b> No training required.</li>
            <li><i><b>Brief:</i></b> 90 minutes total.</li>
            <li><i><b>Free:</i></b> As a part of improvement research.</li>
            <li><i><b>No Control Group:</i></b> All students will receive a version of a growth mindset treatment program.</li>
        <ul>
    </p>
        <div class="tw-thirds infobox">
            <h3>Interested in Participating?</h3>
          <p>Submit an inquiry to learn more about how you can get involved.</p>   
          
           <p><a class="button large" href="/inquiry">Submit Inquiry &raquo;</a></p>
        </div>
    <hr>
    <ul class="tabs-nav">
        <li><a href="#tab1">Participation Requirements</a></li>
        <li><a href="#tab2">Frequently Asked Questions</a></li>
    </ul>
    <div class="tabs-container">
        <div class="tab-content" id="tab1">
            <h4>How does it work?</h4>
            <ol>
                <li>Obtain approval from your school principal or district to participate in research.
                </li>
                <li>Sign our Letter of Agreement (Principal or Superintendent must sign). </li>
              <li>Enroll a minimum of 150 9th grade students who will participate.</li>
              <li>Send home passive consent Parent Information Letters (provided by PERTS).</li>
              <li>Designate a school administrator or faculty who will act as the School Coordinator. This person will be the point of contact throughout your school's participation. The School Coordinator will work with the PERTS team to register and schedule classes.</li>
              <li>The program opens January 12th and closes March 27th. At the scheduled times, teachers will take their classes to the school computer lab to complete the two 45-minute online sessions, scheduled 3-4 weeks apart. Instructions for the two sessions are provided.</li>
            </ol>
            <p>
                NOTE: THERE IS NO REQUIREMENT TO PROVIDE STUDENT TRANSCRIPT DATA FOR THIS PROGRAM. We are only collecting student survey data.
            </p>
        </div>
        <div class="tab-content" id="tab2">
            <h4>Can my school participate if we have fewer than 150 students in 9th grade?</h4>
            <p>
                Yes, schools with fewer students may participate, but will not receive a school report summarizing students' mindsets from before the intervention.
            </p>
            <h4>What do I do if my school district needs to approve our school participating?</h4>
            <p>
                If your school district requires independent IRB approval from your district’s research department to participate, we may be able to assist with this process if over 500 students in the district will participate. For more information, please email us at 
            </p>
            <h4>Can students in other grades participate?</h4>
            <p>
                Only 9th grade students who are just entering high school can participate. It is not appropriate for students in other grades because we specifically reference the transition to high school and being in the 9th grade. It could also cause older students to feel stigmatized.
            </p>
            <h4>What should I tell my students about this program?</h4>
            <p>
                It is important not to tell your students that the program is intended to help them (see below). Doing so could prevent the program from working. You can describe the program as a study about how students learn and what schools can do to make school a better place for them. Once you register, you will receive a short document describing how to best introduce the study to your students.
            </p>
            <h4>Why shouldn't I tell my students this program is meant to help them?</h4>
            <p>
                People often get defensive when they are told something is meant to help them. They may feel insulted or become unduly skeptical, and this can prevent them from internalizing the program's key messages.
            </p>
            <h4>What about privacy?</h4>
            <p>
                We will always respect your privacy and your students' privacy. Our programs are approved by the Stanford University Human Subjects Institutional Review Board. Sensitive data are collected and stored securely, and they are only shared in de-identified or aggregate form with individuals outside the PERTS research team.
            </p>
        </div>
    </div>
    
    
</section>
<aside id="sidebar">
    <div class="widget">
        <h6 class="widget-title">Get Started</h6>
         <p><a class="button medium" href="/inquiry">Submit Inquiry &raquo;</a></p>
    </div>
     <div class="widget">
        <blockquote>
        <p>This program really helped me think about my learning environment and where I see myself in 5 years.<br /><br />-High School Student</p>
        </blockquote>   
    </div>    

    <div class="widget">
        <h6 class="widget-title">High School Transition Program PDF</h6>
        <ul class="categories">
            <li><a href="https://app.box.com/shared/static/91culhhl4cte5dmx5736.pdf" target="_blank">PDF Program Description</a></li>
        </ul>
    </div>
    <div class="widget">
        <h6 class="widget-title">In-Depth Reading</h6>
        <ul class="categories">
            <li><a href="http://ccsr.uchicago.edu/publications/teaching-adolescents-become-learners-role-noncognitive-factors-shaping-school" target="_blank">CCSR Report</a></li>
            <li><a href="/static/documents/yeager_walton_2011.pdf" target="_blank">The Magic Paper</a></li>
        </ul>
    </div>
    
        <div class="widget">
        <h6 class="widget-title">Program At a Glance</h6>
        
        <span class="acc-trigger">
            <a href="#">Participants</a>
        </span>
        <div class="acc-container">
            <div class="content">9th grade students</div>
        </div>
        <span class="acc-trigger">
            <a href="#">Duration</a>
        </span>
        <div class="acc-container">
            <div class="content">Two 45-minute sessions</div>
        </div>
    </div>
    <div class="widget">
        <blockquote>
        <p>The results were amazing, and well above my expectations.<br /><br />-Participating Teacher</p>
        </blockquote>   
    </div> 
    
</aside>

{% endblock %}