<!--Nav Bar -->
  <nav class="col-md-3 hidden-sm hidden-xs bs-docs-sidebar">
    <ul id="sidebar" class="nav nav-stacked">
      <li><a href="#about-the-program">About the Program</a></li>
      <li><a href="#how-it-works">How it Works</a></li>
      <li>
        <a href="#learn-more">Learn More</a>
        <ul class="nav nav-stacked">
          <li><a href="#program-information">Program Information</a></li>
          <li><a href="#supporting-documents">Supporting Documents</a></li>
        </ul>
      </li>
    </ul>
  </nav>