{% extends "p3-base.html" %}

{% block title %}
College Programs | PERTS
{% endblock %}

{% block meta_description %}
Thank you for contacting PERTS
{% endblock %}

{% block content %}

<div class="static-page orientation-page">

  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Thank you!</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container container--main">
    <div class="row">
      <div class="col-sm-9">
        <p>
          Thank you for expressing your interest. We will be in touch!
        </p>

        <br><br>
        <hr>

        <p>
          In the meantime, please take a look at some other resources provided by PERTS:
        </p>

        <ul>
          <li>
            <a href="/resources">PERTS Resources</a> &mdash; View our full library of resources.
          </li>
          <li>
            <a href="//www.mindsetkit.org">The Mindset Kit</a> &mdash; A free set of online courses, lessons, and practices for educators and parents who want to foster adaptive learning mindsets.
          </li>
          <li>
            <a href="/blog">PERTS Blog</a> &mdash; Read more about learning mindsets with these articles by our team of researchers.
          </li>
        </ul>

        <br><br><br><br><br>
      </div>
    </div>
  </div>

</div>

{% endblock %}