<title>{{ page_title }}</title>
<meta name="description" content="{{ page_description }}">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Open Graph data -->
<meta property="og:title" content="{{ page_title }}" />
<meta property="og:description" content="{{ page_description }}" />
<meta property="og:site_name" content="PERTS" />
<meta property="og:image" content="https://www.perts.net/static/images/perts-share.png" />
<meta property="og:url" content="https://wwww.perts.net" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="{{ page_description }}" />
<meta name="twitter:site" content="@pertslab" />
<meta name="twitter:title" content="{{ page_title }}" />
<meta name="twitter:image" content="https://www.perts.net/static/images/perts-share.png" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{ page_title }}" />
<meta itemprop="description" content="{{ page_description }}" />
<meta itemprop="image" content="https://www.perts.net/static/images/perts-share.png" />

<!-- Google Font -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700,700italic,600italic,400italic,600' rel='stylesheet' type='text/css'>

<!-- Bootstrap -->
<!-- https://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- PERTS Styles -->
<link rel="stylesheet" href="/static/css/app-orientation.css">

<!-- Sentry -->
<script src="https://browser.sentry-cdn.com/5.1.0/bundle.min.js" crossorigin="anonymous"></script>
<script type="javascript">
  Sentry.init({ dsn: '29659' });
</script>

<!-- Typekit fonts -->
<script src="https://use.typekit.net/jud7znw.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<!-- Font Awesome -->
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<!-- Don't use the `.slim` version since we need `getScript` for YouTube popups -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
