<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

ga('create', 'UA-35079862-1', 'auto');

// Important to minimize collection of personal data or profiling.
// Laws like the GDPR relate to "monitoring of the behaviour" of users,
// and we prefer not to be subject to such laws in the first place.
// https://gdpr-info.eu/recitals/no-24/
// https://developers.google.com/analytics/devguides/collection/analyticsjs/ip-anonymization
ga('set', 'anonymizeIp', true);

ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
