{% extends "p3-base.html" %}

{% set title = "PERTS | Blog" %}
{% set description = "Read about the latest news from PERTS, Mindset Kit, CTC, and more." %}

{% block title %}
{{ title }}
{% endblock %}

{% block meta_description %}
{{ description }}
{% endblock %}

{% block content %}

<div class="static-page blog-page">

  <div class="page-header">
    <div class="header-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>PERTS Blog</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container container--main">
    <div class="row">
      <div class="col-sm-12">

        <p>
          Our blog content is in the process of moving to  Medium
        </p>
        <p>
          <a href="https://medium.com/@pertslab" target="_blank" class="follow-button">Follow us</a>
        </p>

      </div>
    </div>

    <div class="medium-posts">

      <div class="row">

        <script async src="https://static.medium.com/embed.js"></script>

        <div class="col-sm-6 col-md-4">
          <div class="medium-post">
            <a class="m-story" data-collapsed="true" data-width="100%" href="https://medium.com/@pertslab/perts-supports-net-neutrality-25851bfb629f">PERTS Supports Net Neutrality</a>
          </div>
          <div class="medium-post">
            <a class="m-story" data-collapsed="true" data-width="100%" href="https://medium.com/learning-mindset/mindset-misconceptions-trying-hard-growth-mindset-8ceb12a33636">Mindset Misconceptions: Trying Hard ≠ Growth Mindset</a>
          </div>
          <div class="medium-post">
            <a class="m-story" data-collapsed="true" data-width="100%" href="https://medium.com/learning-mindset/growth-mindset-course-for-parents-from-stanford-perts-and-raise-the-bar-369c3895de0">Growth Mindset Course for Parents from Stanford PERTS and Raise the Bar</a>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="medium-post">
            <a class="m-story" data-collapsed="true" data-width="100%" href="https://medium.com/learning-mindset/can-a-shift-in-mindset-reduce-suspensions-30ef50912015">Can a shift in mindset reduce suspensions?</a>
          </div>
          <div class="medium-post">
            <a class="m-story" data-collapsed="true" data-width="100%" href="https://medium.com/learning-mindset/new-paper-mindset-interventions-are-a-scalable-treatment-for-academic-underachievement-2d6cbe986371">New Paper: Mindset Interventions Are a Scalable Treatment for Academic Underachievement</a>
          </div>
          <div class="medium-post">
            <a class="m-story" data-collapsed="true" data-width="100%" href="https://medium.com/learning-mindset/finding-meaning-in-the-mundane-8367bd43d664">Finding Meaning in the Mundane</a>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="medium-post">
            <a class="m-story" data-collapsed="true" data-width="100%" href="https://medium.com/learning-mindset/is-it-enough-for-teachers-to-have-a-growth-mindset-9093103d0f24">Is it enough for teachers to have a growth mindset?</a>
          </div>
          <div class="medium-post">
            <a class="m-story" data-collapsed="true" data-width="100%" href="https://medium.com/learning-mindset/are-some-ways-of-studying-better-than-others-efc307cd44ef">Are some ways of studying better than others?</a>
          </div>
          <div class="medium-post">
            <a class="m-story" data-collapsed="true" data-width="100%" href="https://medium.com/learning-mindset/3-ways-to-cultivate-a-growth-mindset-7a46c8fc2207">3 Ways to Cultivate a Growth Mindset</a>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>

{% endblock %}