{% extends "p3-base.html" %}

{% block title %}
The College Transition Collaborative | PERTS
{% endblock %}

{% block meta_description %}
The College Transition Collaborative is a group of researchers working to create, evaluate, and disseminate brief, targeted mindset interventions.
{% endblock %}

{% block content %}

<div class="static-page ctc-page">

  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>The College Transition Collaborative</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container container--main">
    <div class="row">
      <div class="col-sm-9">

				<h3>Changing Mindsets to Improve the Transition to College</h3>
				<p>
					Even with identical high school credentials, socially disadvantaged students drop out of college at higher rates and earn worse grades than students from advantaged backgrounds. Research suggests that this disparity is partly attributable to students' concerns about fitting in at college. Importantly, research also suggests that these concerns can be mitigated through brief, targeted mindset interventions. The College Transition Collaborative is a group of researchers and universities working together to create, evaluate, and disseminate these interventions.
				</p>

        <h3>Participate in CTC's Student Academic Standing Success Project!</h3>
        <p>
          CTC researchers are launching an exciting new project to better understand about how academic probation practices affect student outcomes. If you are a school administrator interested in contributing to our research or participating as a project partner to study how insights from psychological science can support student success at your institution, please fill out a <a href="https://gse.qualtrics.com/SE/?SID=SV_6Dshv3XpvIWDccB" target="_blank">brief survey</a> by May 27, 2016. Your input is invaluable and sincerely appreciated.
        </p>
        <p>
          <span style="font-size:0.7em">Note: Anyone can enter the drawing. To enter the drawing without completing the survey, email <a href="span>
        </p>

				<br><br>

				<h4>
					<a href="/static/documents/Mindsets_in_the_College_Transition.pdf">
			    	<img src="/static/home/img/pdf-icon.png" />
			    	<a href="/static/documents/Mindsets_in_the_College_Transition.pdf" target="_blank">Download the Full Overview of CTC&nbsp;&nbsp;<i class="fa fa-external-link"></i></a>
			    </a>
				</h4>

				<br><hr><br>

				<h2>On this Page</h2>
				<ul>
					<!-- <li><a href="#hiring">Now Hiring</a></li> -->
					<li><a href="#team">Research Team</a></li>
					<li><a href="#partners">Partners</a></li>
						<li><a href="#news">CTC in the News</a></li>
				</ul>

	      <!-- <div class="static-page-section" id="hiring">
	        <h2>Now Hiring</h2>
	        <p>
	          CTC is currently looking for exceptional candidates to fill the following roles. Use the links below to learn more about these positions and apply.
	        </p>
	        <ul>
            <li><a href="/static/documents/College_Transition_Collaborative_Managing_Director_Job_Description.pdf" target="_blank">Managing Director&nbsp;&nbsp;<i class="fa fa-external-link"></i></a></li>
	          <li><a href="https://stanford.taleo.net/careersection/jobdetail.ftl?job=66726" target="_blank">Social Science Research Coordinator - Stanford University&nbsp;&nbsp;<i class="fa fa-external-link"></i></a></li>
	          <li><a href="https://stanford.taleo.net/careersection/jobdetail.ftl?job=66815" target="_blank">Social Science Research Coordinator - Stanford University&nbsp;&nbsp;<i class="fa fa-external-link"></i></a></li>
	        </ul>
	      </div> -->

        <br><hr>

				<div class="static-page-section" id="team">
				  <h2>Team</h2>

          <h3>Managing Board</h3>
					<p>

						PI &mdash; <a href="http://www.stanford.edu/~gwalton/home/Welcome.html" target="_blank">Greg Walton</a>,
						Assistant Professor,
						Stanford University<br>

						PI &mdash; <a href="http://www.utexas.edu/cola/centers/prc/directory/faculty/yeagerds" target="_blank">David Yeager</a>,
						Assistant Professor,
						University of Texas at Austin<br>

						PI &mdash; <a href="http://psych.indiana.edu/faculty/mcmpsych.php" target="_blank">
						Mary Murphy</a>,
						Assistant Professor,
						Indiana University<br>

						PI &mdash; <a href="https://uwaterloo.ca/renison/people-profiles/christine-logel" target="_blank">
						Christine Logel</a>,
						Assistant Professor,
						Renison University College<br>

            Natasha Krol, CTC Managing Director <br>

						<a href="http://www.paunesku.info" target="_blank">
            Dave Paunesku</a>,
            Executive Director,
            Stanford University PERTS<br>

          </p>

          <h3>Research Team</h3>
          <p>

            <a href="http://curry.virginia.edu/about/directory/christopher-s-hulleman" target="_blank">
            Chris Hulleman</a>,
            Research Associate Professor,
            University of Virginia<br>
            Omid Fotuhi, Postdoctoral Scholar, Stanford University<br>
						Katie Boucher, Assistant Professor, University of Indianapolis<br>
						Shannon Brady, Graduate Student, Stanford University<br>
						Stephanie Reeves, Graduate Student, University of Waterloo<br>
						Maithreyi Gopalan, Graduate Student, Indiana University<br>
						<a href="http://www.evelyn-carter.com" target="_blank">
              Evelyn Carter</a>, Postdoctoral Fellow, Purdue University<br>
						Amy Petermann, Research Coordinator, Stanford University<br>
						Dustin Thoman, Associate Professor, California State University - Long Beach<br>
						Lisel Murdock-Perriera, Graduate Student, Stanford University<br>
						Eric Smith, Graduate Student, Stanford University<br>
						Cayce Hook, Graduate Student, Stanford University<br>
						Katie Kroeper, Graduate Student, Indiana University<br>
						Jeff Kosovich, Graduate Student, University of Virginia<br>
						Matthew Wilmot, Graduate Student, University of Waterloo<br>
						Eric Gomez, Research Coordinator, Stanford University<br>
						Elise Ozier, Graduate Student, Indiana University<br>
						Madison Gilbertson, Research Assistant, Stanford University<br>
						Heidi Williams, Research Assistant, Indiana University<br>
            Gregg Muragishi, Graduate Student, Stanford University<br>
            Christopher Lok, Graduate Student, University of Waterloo<br>
            Peter Fisher, Research Coordinator, Stanford University<br>
            Tsotso Ablorh, Research Coordinator, Stanford University<br>
            Shahana Ansari, Lab Manager, Indiana University<br>

          </p>
					<h3>Advisors</h3>
          <p>
						Geoff Cohen, Professor, Stanford University<br>
						Carol Dweck, Professor, Stanford University<br>
						Hazel Markus, Professor, Stanford University<br>
						Judy Harackiewicz, Professor, University of Wisconsin-Madison<br>
						Steven Spencer, Professor, University of Waterloo<br>
					</p>

				</div>

        <br><hr>

				<div class="static-page-section" id="partners">
					<h2>Partners</h2>

					<h3>CTC Partners: 2014-2018</h3>

          <br>

					<div class="partner-wrapper">
            <img src="/static/images/ctc-partners/bgsu.png" alt="Bowling Green">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/cal-northridge.png" alt="California State University, Northridge">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/cornell.png" alt="Cornell University">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/dartmouth.png" alt="Dartmouth College">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/glca.png" alt="Great Lakes College Association">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/hope-college.png" alt="Hope College">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/allegheny-college.png" alt="Allegheny College">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/college-wooster.png" alt="The College of Wooster">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/wabash-college.png" alt="Wabash College">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/depauw-university.png" alt="Wabash College">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/indiana-state.png" alt="Indiana State University">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/indiana.png" alt="Indiana University">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/lewis-clark.png" alt="Lewis & Clark College">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/southern-oregon.png" alt="Southern Oregon University">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/cal-santa-cruz.png" alt="University of California, Santa Cruz">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/central-arkansas.png" alt="University of Central Arkansas">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/waterloo.png" alt="University of Waterloo">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/yale.png" alt="Yale University">
          </div>

          <br>

					<h3>Additional Partners</h3>

          <br>

					<div class="partner-wrapper">
            <img src="/static/images/ctc-partners/kipp.png" alt="KIPP">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/mastery.png" alt="Mastery">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/yes-prep.png" alt="Yes Prep">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/michigan-state.png" alt="Michigan State University">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/stanford.png" alt="Stanford University">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/uic.png" alt="University of Illinois, Chicago">
          </div><div class="partner-wrapper">
            <img src="/static/images/ctc-partners/ut-austin.png" alt="University of Texas at Austin">
          </div>

          <!-- <br>
          <hr> -->

				</div>


        <div class="infobox" id="news">
          <h3>CTC in the News</h3>

          <div class="reading-item">
          <h4><a href="https://www.whitehouse.gov/the-press-office/2015/03/23/fact-sheet-president-obama-announces-over-240-million-new-stem-commitmen" target="_blank">FACT SHEET: President Obama Announces Over $240 Million in New STEM Commitments at the 2015 White House Science Fair&nbsp;&nbsp;<i class="fa fa-external-link"></i></a></h4>
          <p>
            President Obama announces over $240 million in new private-sector commitments to inspire and prepare more girls and boys – especially those from underrepresented groups – to excel in the STEM fields.
          </p>
          </div>

          <div class="reading-item">
          <h4><a href="http://www.nytimes.com/2014/05/18/magazine/who-gets-to-graduate.html?_r=0" target="_blank">Who Gets To Graduate?&nbsp;&nbsp;<i class="fa fa-external-link"></i></a></h4>
          <p class="citation">
          New York Times
          </p>
          </div>

        </div>

			</div><!-- end .col-sm-9 -->

			<div class="col-sm-3" style="text-align:center;">

				<!-- <div class="widget">
			    <h4 class="widget-title">Collaborative Partners</h4>
			    <br><br>
			    <img style="width:200px;" src="/static/home/img/Stanford_University_seal.png" />
			    <br><br>
			    <img style="width:200px;" src="/static/home/img/ut-seal.png" />
			    <br><br>
			    <img style="width:200px;" src="/static/home/img/iu-logo.png" />
			    <br><br>
			    <img style="width:200px;" src="/static/home/img/ru-seal.png" />
			  </div> -->

				<div class="widget">
          <br>
					<h4 class="widget-title">Contact</h4>
					<p>
						<a href="</a>
						<br>
						Expect a response within one week.
					</p>
					<br><br>
					<h4 class="widget-title">Further Reading</h4>
					<p>
				    <a href="http://rer.sagepub.com/content/81/2/267" target="_blank">Yeager &amp; Walton, 2011</a>
				  </p>
			  </div>

			</div><!-- end .col-sm-3 -->
		</div><!-- end .row -->

	</div><!-- end .container -->
</div><!-- end .static-page -->

{% endblock %}