{% extends "p3-base.html" %}

{% set title = "Our Work | PERTS" %}
{% set description = "PERTS offers educators resources, professional development, and tools for learning about and promoting adaptive academic mindsets." %}

{% block title %}
{{ title }}
{% endblock %}

{% block meta_description %}
{{ description }}
{% endblock %}

{% block content %}

<div class="work-page">

  <div class="page-masthead page-masthead--secondary">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-6">
          <h1>Impactful Work.</h1>
          <p>
            Everything we do, from research to partnerships, aims to achieve our <a href="/about">mission</a> on the largest scale possible.
          </p>
        </div>
      </div>
    </div>
    {% include 'components/navbar_top.html' %}
  </div>

  <div class="page-section page-section--partnerships">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>
            Selected partnerships &amp; projects
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="partnership-wrapper">
            <div class="partnership_image">
              <a href="https://mindsetscholarsnetwork.org/" target="_blank">
                <img src="/static/images/home/work-mindsetscholars.png" height="120px" alt="Mindset Scholars Network">
              </a>
            </div>
            <h3>Validated Growth Mindset Programs</h3>
            <p>
              PERTS developed and <a href="/research">validated</a> Growth
              Mindset for 9th Graders and Growth Mindset for College Students in
              collaboration with Mindset Scholars Network researchers. These
              programs have been implemented in hundreds of high schools and
              colleges across the U.S. reaching hundreds of thousands of
              students.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="partnership-wrapper">
            <div class="partnership_image">
              <a href="https://studentexperienceproject.org/" target="_blank">
                <img src="/static/images/home/work-studentexperience.png" height="120px" alt="Student Experience Project">
              </a>
            </div>
            <h3>Student Experience Project</h3>
            <p>
              PERTS is partnering with the Coalition of Urban Serving
              Universities and College Transition Collaborative to transform the
              college student experience so that every student is supported to
              succeed.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="partnership-wrapper">
            <div class="partnership_image">
              <a href="http://www.classdojo.com/" target="_blank">
                <img src="/static/images/home/work-classdojo.png" height="120px" alt="ClassDojo">
              </a>
            </div>
            <h3>ClassDojo</h3>
            <p>
              Co-created research-based growth mindset intervention videos
              viewed by over 5 million students in 400,000 classrooms, measured
              effects on classroom contexts.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="partnership-wrapper">
            <div class="partnership_image">
              <a href="http://www.khanacademy.org" target="_blank">
                <img src="/static/images/home/work-khanacademy.png" height="120px" alt="Khan Academy">
              </a>
            </div>
            <h3>KhanAcademy</h3>
            <p>
              Collaborated on a research-based growth mindset lesson plan (downloaded over 125,000 times as of October 2016) and the LearnStorm Weekly Mindset Activities.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="partnership-wrapper">
            <div class="partnership_image">
              <a href="http://eoschools.org/" target="_blank">
                <img src="/static/images/home/work-equalopportunityschools.png" height="120px" alt="Equal Opportunity Schools">
              </a>
            </div>
            <h3>Equal Opportunity Schools</h3>
            <p>
              Delivered learning mindset programs to 38,000 students, 2,000
              school staff in the 2015 academic year. Assessed program impact
              on GPA and AP scores.
            </p>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4">
          <div class="partnership-wrapper">
            <div class="partnership_image">
              <a href="http://newteachercenter.org/" target="_blank">
                <img src="/static/images/home/work-newteachercenter.png" height="120px" alt="New Teacher Center">
              </a>
            </div>
            <h3>Okonofua, Walton, and NTC</h3>
            <p>
              Co-developed and evaluated an empathic teaching intervention that cut suspension rates <a href="https://web.stanford.edu/~paunesku/articles/okonofua_2016.pdf/">in half</a>. Now working to refine and scale that program through the New Teacher Center’s national network. 
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h4>
            More partners
          </h4>
          <div class="partner-logos">
            <img src="/static/images/home/partner-mentor.png" width="150px" alt="Mentor">
            <img src="/static/images/home/partner-teachingchannel.png" width="150px" alt="Teaching Channel">
            <img src="/static/images/home/partner-NEP.png" width="150px" alt="National Equity Project">
            <img src="/static/images/home/partner-UChicagoCCSSR.png" width="150px" alt="UChicago Consortium for School Research">
            <img src="/static/images/home/partner-gearup.png" width="150px" alt="Gear Up">
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="page-section page-section--work-research">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-5 col-md-offset-1">
          <h2>
            Our research
          </h2>
          <p>
            Partnerships and projects like the ones above make it possible for us to develop and validate research-based programs — and to scale their impact across the nation. Our research has been published in leading scientific journals.
          </p>
          <a class="perts-button" href="/research">Explore our research</a>
        </div>
        <div class="col-sm-6 col-md-6 image-wrapper">
          <img src="/static/images/home/research-preview-image.png" width="400px" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="page-section page-section--national-reach">
    <div class="graphic-left">
      <iframe width="100%" frameborder="0" style="border:0; position:relative; background-color: #ccc;" scrollwheel="false" src="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;oe=UTF8&amp;msa=0&amp;msid=211425556041242000080.0004db31858350b08e94d&amp;t=m&amp;z=4&amp;output=embed"></iframe>
      <div class="map-overlay" onClick="style.pointerEvents='none'"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-8">
          <h2>National Reach</h2>
          <p>
            Our programs have been implemented in hundreds of schools and colleges across the nation. This map shows the cities where our partner schools and colleges can be found.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section page-section--partner">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2>
            Partner with PERTS
          </h2>
          <p>
            We’re eager to find passionate partner organizations that share our vision for improving education practices.
          </p>
          <a class="perts-button btn-secondary" href="/contact">Contact us</a>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
