{% extends "p3-base.html" %}

{% set title = "Press Kit | PERTS" %}
{% set description = "PERTS is an applied research center at Stanford University. We work with experts on academic motivation to raise student achievement on a large scale. We're focused on growth mindset, belonging mindset, student engagement, student learning and student programs." %}

{% block title %}
{{ title }}
{% endblock %}

{% block meta_description %}
{{ description }}
{% endblock %}

{% block content %}

<div class="press-kit-page">

  <div class="page-masthead page-masthead--dark page-masthead--centered">
    <div class="background-image"
         image-loader
         image="/static/images/home/press-kit-background.jpg"></div>
    <div class="span-shadow"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Press Kit</h1>
        </div>
      </div>
    </div>
    {% include 'components/navbar_top_inverted.html' %}
  </div>

  <div class="page-section page-section--press-kit">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <h2>
            Our Story
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <p>
            In 2009, the PERTS soon-to-be co-founders were doctoral students at
            Stanford studying the powerful role of beliefs (a.k.a. learning
            mindsets) in academic achievement. Around that time, a couple of
            groundbreaking studies had been published showing that brief
            interventions targeting students’ beliefs could actually improve
            their academic trajectory (see
            <a href="http://mtoliveboe.org/cmsAdmin/uploads/blackwell-theories-of-intelligence-child-dev-2007.pdf"
               target="_blank">
              Blackwell et al. 2007; Walton &amp; Cohen, 2007, 2011</a>).
          </p>
          <p>
            Inspired and excited by the potential of these low-cost, low-time
            interventions, we wondered, “Why aren’t all schools doing these?”
            We quickly discovered two good reasons schools weren’t implementing
            mindset interventions:
          </p>
          <ol>
            <li>
              Schools didn’t know how to implement mindset interventions, and
            </li>
            <li>
              Schools didn’t know whether mindset interventions would work for
              their students.
            </li>
          </ol>
          <p>
            Importantly, no one knew. And thus, PERTS or, the Project for
            Education Research that Scales, was born with the goal of bringing
            these interventions to millions of students across the country to
            increase their motivation, engagement, and ultimately their
            academic achievement.
          </p>
          <p>
            We started off scrappy and passionate&mdash;our software developers
            volunteered their time, we cold called dozens of schools to recruit
            them to participate in our studies, spent hundreds of hours writing
            up proposals for small grants, and made many thousands of mistakes.
            In fact, co-founders Dave Paunesku and Carissa Romero wrote their
            dissertations in one-month because they were spending so much time
            on other PERTS-related studies. In our first major study with over
            1,500 students across 13 high schools in the United States, we
            found that a 45-minute intervention improved the GPAs and course
            pass rates of students who were getting a grade of C or below prior
            to the study. The interventions seemed to be working.
          </p>
          <p>
            Today we are still just as passionate, but perhaps a little less
            scrappy. From the beginning, our focus has been on closing opportunity
            gaps and helping students overcome barriers that keep them from
            cultivating their abilities and passions to their fullest. To
            accomplish this, PERTS plays three main functions in the field of
            mindsets and in education more broadly.
          </p>
          <ul>
            <li>
              <strong>Translate research</strong> insights into concrete
              practices educators can practically implement.
            </li>
            <li>
              <strong>Enable improvement</strong> of education programs and
              practices at scale by developing formative feedback systems that enable educators to identify what’s working and what opportunities exist to better support equitable student success.
            </li>
            <li>
              <strong>Drive adoption</strong> of research-based practices by
              building partnerships with schools, colleges, and other
              organizations that can influence students’ learning experiences
              on a large scale.
            </li>
          </ul>
          <p>
            None of our work is possible without collaborations with educators,
            parents, and researchers who share our passion for increasing student
            equity and our goal of improving millions of student lives around
            the country.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <h2>
            Quick Facts
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <ul>
            <li>
              <b>Founded in 2010</b>
            </li>
            <li>
              <b>Umbrella organization</b>: Stanford University
            </li>
            <li>
              <b>Location</b>: San Francisco, CA
            </li>
            <li>
              <b>Mission</b>: To advance educational equity at scale
            </li>
            <li>
              <b>Websites</b>: www.perts.net, www.mindsetkit.org
            </li>
            <li>
              <b>Brand &amp; Logo</b>: <a href="https://drive.google.com/folderview?id=0B3HRGsifC3xIank1MzJkRDM2c1E&usp=sharing">Logos</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <h2>
            Our Reach
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <p>
            PERTS empowers educators to enact evidence-based practices in order
            to advance social equity. Over a million students have been reached
            with evidence-based resources as a result of our engagement with
            schools, teachers, and other educational organizations.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <h2>
            Our Founders
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="row">
            <div class="col-sm-6">
              <div class="founder-image"
                   image-loader
                   image="/static/images/home/founder-dave-paunesku.jpg"></div>
            </div>
            <div class="col-sm-6">
              <h3 class="founder-name">
                Dave Paunesku, Ph.D.
              </h3>
              <h4>
                Co-founder, Executive Director
              </h4>
              <div class="social-links">
                <a href="/static/images/home/founder-dave-paunesku.jpg" target="_blank" class="social-link">
                  <i class="fa fa-camera"></i>
                </a>
                <a href="https://www.linkedin.com/in/dave-paunesku-355a63" target="_blank" class="social-link">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://web.stanford.edu/~paunesku/" target="_blank" class="social-link">
                  <i class="fa fa-pencil"></i>
                </a>
              </div>
            </div>
          </div>
          <p>
            Dave Paunesku is co-founder and executive director of PERTS. He has
            been passionate about science and about social equity for as long
            as he can remember. When Dave first encountered scientific research
            showing that brief, cost-effective interventions could improve
            educational attainment for students from historically underserved
            groups, he immediately saw an opportunity to merge his passions and
            leverage science to advance social equity on a large scale. Knowing
            that he had much to learn about the powerful psychological
            principles underlying these interventions, he went to Stanford
            University to learn from two of the world’s foremost experts on the
            topic: Professors Carol Dweck and Greg Walton. Two years into his
            doctoral studies, he founded PERTS with friends and colleagues
            Carissa Romero, Chris Macrander, and Ben Haley.
          </p>
          <p>
            Ever since he founded it, Dave has kept PERTS focused on the
            intersection of rigorous research and scalable impact. Not content
            to endlessly say “more research is needed” before seeing promising
            approaches applied by practitioners, PERTS translates research
            findings into concrete practices that educators can immediately
            apply on a large scale. Not content to assume those practices are
            working at scale just because they worked in initial (often small-
            scale) studies in different contexts, PERTS conducts
            research to understand when and where those
            insights are actually having an impact. The simultaneous pursuit of
            evidence and social impact continues to drive everything PERTS
            does.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <h2>
            Funding
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <p>
            PERTS has over $11 million in funding from various foundations and
            agencies, including
            the <a href="http://www.nsf.gov/" target="_blank">National Science Foundation</a>,
            the <a href="https://ies.ed.gov/" target="_blank">Institute of Education Sciences</a>,
            the <a href="http://raikesfoundation.org/" target="_blank">Raikes Foundation</a>,
            the <a href="http://www.hewlett.org/" target="_blank">William and Flora Hewlett Foundation</a>, the <a href="https://overdeck.org/" target="_blank">Overdeck Foundation</a>,
            the <a href="http://www.gatesfoundation.org/" target="_blank">Gates Foundation</a>,
            and the <a href="http://www.joycefdn.org/" target="_blank">Joyce Foundation</a>.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <h2>
            Past Articles
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <ul>
            <li>
              <a href="http://www.nytimes.com/2016/08/21/opinion/sunday/conquering-the-freshman-fear-of-failure.html?_r=0" target="_blank">The New York Times</a>
              &mdash; Conquering the Freshman Fear of Failure
            </li>
            <li>
              <a href="http://www.wsj.com/articles/SB10001424052702304439804579207951856455572" target="_blank">The Wall Street Journal</a>
              &mdash; New Ways to Fight &lsquo;Imposter Fears&rsquo;
            </li>
            <li>
              <a href="http://news.stanford.edu/2015/04/27/growth-mindset-study-042715/" target="_blank">Stanford News</a>
              &mdash; Online &lsquo;Mindset&rsquo; Interventions Help Students Do Better in school, Stanford Research Shows
            </li>
            <li>
              <a href="https://www.americanprogress.org/issues/education-k-12/reports/2017/06/23/434965/learning-mindsets-skills/#.WlEf1X8ROHc.email" target="_blank">Center for American Progress</a>
              &mdash; Learning Mindsets and Skills: An Opportunity for Growth with the Every Student Succeeds Act
            </li>
            <li>
              <a href="http://ww2.kqed.org/mindshift/2014/08/18/how-a-bigger-purpose-can-motivate-students-to-learn/" target="_blank">Mind/Shift</a>
              &mdash; How a Bigger Purpose Can Motivate Students to Learn
            </li>
            <li>
              <a href="https://www.edsurge.com/news/2014-07-24-growing-a-mindset-with-the-right-words" target="_blank">EdSurge</a>
              &mdash; Growing a Mindset with the Right Words
            </li>
            <li>
              <a href="http://blogs.edweek.org/edweek/rulesforengagement/2015/06/could_parents_be_allies_in_schools_efforts_to_build_growth_mindsets_in_students.html" target="_blank">Education Week</a>
              &mdash; Could Parents Be Allies in Schools&rsquo; Efforts to Build Growth Mindsets in Students?
            </li>
            <li>
              <a href="http://blogs.edweek.org/edweek/rulesforengagement/2016/03/resources_help_mentors_encourage_growth_mindsets.html" target="_blank">Education Week</a>
              &mdash; New Resources Developed to Help Mentors Encourage Growth Mindsets
            </li>
            <li>
              <a href="http://ww2.kqed.org/mindshift/2014/07/16/new-research-students-benefit-from-learning-that-intelligence-is-not-fixed/" target="_blank">Mind/Shift</a>
              &mdash; New Research: Students Benefit from Learning That Intelligence is Not Fixed
            </li>
            <li>
              <a href="http://www.usatoday.com/story/news/2016/01/19/growth-mindset-videos/79026138/" target="_blank">USA Today</a>
              &mdash; Short Videos to Teach &lsquo;Growth Mindset&rsquo; to Students, Teachers
            </li>
            <li>
              <a href="http://www.theatlantic.com/education/archive/2014/09/how-to-get-insecure-students-to-work-harder/379500/" target="_blank">The Atlantic</a>
              &mdash; How to Motivate Students to Work Harder
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</div>

{% endblock %}
