{% extends "p3-base.html" %}

{% set title = "Educator Resources | PERTS" %}
{% set description = "PERTS offers educators resources, professional development, and tools for learning about and promoting adaptive academic mindsets." %}

{% block title %}
{{ title }}
{% endblock %}

{% block meta_description %}
{{ description }}
{% endblock %}

{% block content %}

<div class="research-page">

  <div class="page-masthead page-masthead--light">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-6">
          <h1>Research at PERTS</h1>
          <p>
            Our team produces groundbreaking research that sheds light on the insights and practices educators can leverage to promote equitable student success. We continue to validate and test these findings in all of the work that we do.
          </p>
          <a class="perts-button" href="/programs">Enroll in a program</a>
        </div>
      </div>
    </div>
    {% include 'components/navbar_top.html' %}
  </div>

  <div class="page-section page-section--about-research">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img class="research-image" src="/static/images/home/researc-icon-1.png" height="150px" alt="">
          <h3>Rigorous</h3>
          <p>
            Our research has been published in the world’s top behavioral
            science journals.
          </p>
        </div>
        <div class="col-sm-4">
          <img class="research-image" src="/static/images/home/researc-icon-2.png" height="150px" alt="">
          <h3>Wide-reaching</h3>
          <p>
            Our research isn’t run in a lab&mdash;hundreds of thousands
            of students have participated in our research projects.
          </p>
        </div>
        <div class="col-sm-4">
          <img class="research-image" src="/static/images/home/researc-icon-3.png" height="150px" alt="">
          <h3>Impact focused</h3>
          <p>
            Our programs have reduced failure rates, raised GPAs, decreased dropout
            rates, and mitigated opportunity gaps.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section page-section--research">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <h2>Selected Research</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-lg-9">

          <div class="research-preview">
            <h3><a href="https://www.nature.com/articles/s41586-019-1466-y" target="_blank">A National Experiment Reveals Where a Growth Mindset Improves Achievement&nbsp;&nbsp;<i class="fa fa-external-link"></i></a></h3>
            <p>
              A nationally representative, randomized control trial of Growth Mindset for 9th Graders showed that this brief mindset program supported students' development of a growth mindset and fostered higher academic effort. Students who were initially off-track (GPA below 2.0) became 5.3% more likely to get on-track if they were randomly assigned to complete this program.
            </p>
            <p class="citation">
              Yeager, D.S., Hanselman, P., Walton, G.M. et al. (2019). A national experiment reveals where a growth mindset improves achievement. Nature 573, 364–369 (2019)
            </p>
          </div>

          <div class="research-preview">
            <h3><a href="http://web.stanford.edu/~paunesku/articles/paunesku_2015.pdf" target="_blank">Mindset Interventions Are a Scalable Treatment for Academic Underperformance&nbsp;&nbsp;<i class="fa fa-external-link"></i></a></h3>
            <p>
              Presents results from a randomized controlled trial in which a
              brief growth mindset intervention and a brief purpose for
              learning intervention raised academic achievement among students
              at-risk for dropping out of high school.
            </p>
            <p class="citation">
              Paunesku, D., Walton, G.M., Romero, C.L., Smith, E.N., Yeager,
              D.S., &amp; Dweck, C.S. (2015). Mindset Interventions are a
              Scalable Treatment for Academic Underachievement. Psychological
              Science.
            </p>
          </div>

          <div class="research-preview">
            <h3><a href="http://web.stanford.edu/~paunesku/articles/okonofua_2016.pdf" target="_blank">A Brief Intervention to Encourage Empathic Discipline Cuts Suspension Rates in Half Among Adolescents&nbsp;&nbsp;<i class="fa fa-external-link"></i></a></h3>
            <p>
              A series of studies demonstrated that a punitive approach to
              discipline can exacerbate student misbehavior. Study 3 was an RCT
              of a brief, online professional development activity for
              teachers. The activity promoted a more empathic approach to
              discipline and cut student suspension rates by 50%.
            </p>
            <p class="citation">
              Okonofua, J.A., Paunesku, D., &amp; Walton, G.M. (in press). A
              Brief Intervention to Encourage Empathic Discipline Cuts
              Suspension Rates in Half Among Adolescents. Proceedings of the
              National Academy of Sciences.
            </p>
          </div>

          <div class="research-preview">
            <h3><a href="http://web.stanford.edu/~paunesku/articles/yeager_2016-pnas.pdf" target="_blank">Teaching a lay theory before college narrows achievement gaps at scale&nbsp;&nbsp;<i class="fa fa-external-link"></i></a></h3>
            <p>
              Lay theory interventions raised first-year full-time college
              enrollment among students from socially and economically
              disadvantaged backgrounds exiting a high-performing charter high
              school network or entering a public flagship university
              (experiments 1 and 2) and, at a selective private university,
              raised disadvantaged students’ cumulative first-year grade point
              average (experiment 3).
            </p>
            <p class="citation">
              Yeager, D. S., Walton, G. M., Brady, S. T., Akcinar, E. N.,
              Paunesku, D., Keane, L., Kamentz, D., Ritter, G., Duckworth, A.
              L., Urstein, R., Gomez E., Markus, H. R. Cohen, G. L., &amp;
              Dweck, C. S. (2016). Proceedings of the National Academy of
              Sciences of the United States of America.
            </p>
          </div>

          <div class="research-preview">
            <h3><a href="http://web.stanford.edu/~paunesku/articles/yeager_2016-national-pilot.pdf" target="_blank">Using design thinking to improve psychological interventions: The case of the growth mindset during the transition to high school&nbsp;&nbsp;<i class="fa fa-external-link"></i></a></h3>
            <p>
              A randomized controlled trial replicated the results of Paunesku
              et al. (2015). It reaffirmed that direct-to-student mindset
              interventions can raise high school GPA for initially low-
              performing students. The article presents a design-thinking
              process that was used to improve the intervention.
            </p>
            <p class="citation">
              Yeager, D. S., Romero, C., Paunesku, D., Hulleman, C. S.,
              Schneider, B., Hinojosa, C., ... &amp; Trott, J. (2016). Using
              Design Thinking to Improve Psychological Interventions: The Case
              of the Growth Mindset During the Transition to High School.
              Journal of Educational Psychology, 108(3), 374.
            </p>
          </div>

          <div class="research-preview">
            <h3><a href="http://web.stanford.edu/~paunesku/articles/claro_2016.pdf" target="_blank">Growth mindset tempers the effects of poverty on academic achievement&nbsp;&nbsp;<i class="fa fa-external-link"></i></a></h3>
            <p>
              An analysis of a public use dataset containing mindset surveys
              scores, math and language standardized test scores, and family
              income from all public school 10th graders in the nation of Chile
              showed that a growth mindset is beneficial to the test scores of
              all students and especially important for the test scores of low
              income students.
            </p>
            <p class="citation">
              Claro, S., Paunesku, D., &amp; Dweck, C. S. (2016). Growth
              Mindset Tempers the Effects of Poverty on Academic Achievement.
              Proceedings of the National Academy of Sciences, 201608207.
            </p>
          </div>

          <div class="research-preview">
            <h3><a href="http://web.stanford.edu/~paunesku/articles/yeager_2014.pdf" target="_blank">Boring but Important: A self-transcendent purpose for learning fosters academic self-regulation&nbsp;&nbsp;<i class="fa fa-external-link"></i></a></h3>
            <p>
              A number of studies demonstrate that students are more motivated
              when they possess a "purpose for learning" — when they understand
              how learning today will help them accomplish meaningful goals in
              the future.
            </p>
            <p class="citation">
              Yeager, D.S., Henderson, H., Paunesku, D., Walton, G.M., D’Mello,
              S. Spitzer, B.J., &amp; Duckworth, A.L. (2014). Boring but
              Important: A Self-transcendent Purpose for Learning Fosters
              Academic Self-regulation. Journal of Personality and Social
              Psychology, 107(4), 559-580.
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="page-section page-section--enroll-preview">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="/static/images/home/enroll-image.png" width="400px" alt="">
        </div>
        <div class="col-sm-6 col-md-5">
          <h2>
            Want to leverage our work?
          </h2>
          <p>
            See our programs page to sign up for our innovative programs.
          </p>
          <a class="perts-button btn-invert" href="/programs">
            Enroll in a Program
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
