{% extends "p3-base.html" %}

{% block title %}
PERTS Terms of Use and Privacy Policy Index
{% endblock %}

{% block meta_description %}
PERTS Terms of Use and Privacy Policy Index
{% endblock %}

{% block content %}

<div class="about-page">

  <div class="page-masthead">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-6">
          <h1>PERTS Terms of Use and Privacy Policy Index</h1>
          <p>
            PERTS hosts multiple websites and provides a variety of services to schools,
            colleges, and other visitors and users. Use this page to figure out which
            terms of use and privacy policy apply to the website or service you are
            using.
          </p>
        </div>
      </div>
    </div>
    {% include 'components/navbar_top.html' %}
  </div>

  <div class="page-section page-section--mission">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-1 col-sm-8">
          <h3>PERTS Programs</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-1 col-sm-8">
          <p>
            The PERTS default terms of use (at
            <a href="//perts.net/terms-of-use">perts.net/terms-of-use</a>) and privacy
            policy at (<a href="//perts.net/privacy">perts.net/privacy</a>) apply to the
            use of the following PERTS services:
          </p>
          <ul>
            <li>Copilot-Elevate</li>
            <li>The Engagement Project</li>
            <li>Classroom Connections</li>
            <li>Growth Mindset for 9th Graders</li>
            <li>Growth Mindset for College Students</li>
            <li>Social Belonging for College Students</li>
            <li>College Student Experience Tracker (C-SET)</li>
          </ul>
          <p>
            Unless superseded by a written agreement between PERTS and an educational
            organization using PERTS services, those policies
            (<a href="//perts.net/terms-of-use">perts.net/terms-of-use</a> and
            <a href="//perts.net/privacy">perts.net/privacy</a>) apply to the programs
            listed above and to all user interactions between users and the services
            offered through copilot.perts.net and neptune.perts.net.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-1 col-sm-8">
          <h3>Visits to https://PERTS.net</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-1 col-sm-8">
          <p>
            Access to the public PERTS website at <a href="//perts.net">perts.net</a>
            does not require an account or any kind of sign in.  When a person is
            visiting the PERTS public website at <a href="//perts.net">perts.net</a>,
            the Stanford University
            <a href="https://www.stanford.edu/site/terms/">terms of use</a> and
            Stanford University <a href="https://www.stanford.edu/site/privacy/">privacy policy</a>
            apply.
          </p>
        </div>
    </div>
  </div>

</div>

{% endblock %}
