<h2>Speaking Engagements</h2>
      
<div class="speaking-engagement">
Beaubien, J. (2015, January). Raising Student Achievement Using Adaptive Beliefs: Research on Growth Mindsets. Texas Association of School Administrators Mid-Winter Conference, Austin, TX. 
</div>

<div class="speaking-engagement">
Paunesku, D., Beaubien, J. (2015, January). Academic Mindsets: Building  Student Engagement by Cultivating a Purpose for Learning. Workshop and presentation for teachers, principals and district administrators. New York City Department of Education, Brooklyn, NY. 
</div>

<div class="speaking-engagement">
Romero, C. (2014, December). Growth Mindset: Moving From a Focus on  Judgment to a Focus on Growth and Development. Talk delivered at How Kids Learn Conference, San Francisco, CA. 
</div>

<div class="speaking-engagement">
Romero, C. (2014, November). Mindsets and Mistakes in Mathematics: Changing Teachers’ and Students’ Beliefs About Mistakes. Talk delivered at San Francisco Unified School District, San Francisco, CA. 
</div>

<div class="speaking-engagement">
Romero, C. (2014, October). Academic Mindsets: The Beliefs That Make Students Want to Learn. Talk delivered at Berkeley School of Public Policy, Berkeley, CA. 
</div>

<div class="speaking-engagement">
Romero, C. (2014, October). Academic Mindsets: The Beliefs That Make Students Want to Learn. Talk delivered at Baltimore City Schools, Baltimore, MD. 
</div>

<div class="speaking-engagement">
Romero, C. (2014, September). Growth Mindset: Consequences and the Importance of Our Language. Talk delivered at the Hawken School Parent Workshop, Cleveland, OH. 
</div>

<div class="speaking-engagement">
Romero, C. (2014, September). Growth Mindset: Consequences, Interventions, and Classroom Practices. Talk delivered at NYC Lab School for Collaborative Studies, New York, NY. 
</div>

<div class="speaking-engagement">
Romero, C. (2014, June). Growth Mindset Open Resources. Talk delivered  at the High School of Fashion Industries, New York, NY.  
</div>

<div class="speaking-engagement">
Beaubien, J. (2014, June) Raising Student Achievement By Promoting Adaptive Beliefs: Framing Praise, Feedback, and Encouragement to Promote Engagement and Resilience. Webinar talk delivered for University of Pennsylvania MAPP Alumni Network.  
</div>

<div class="speaking-engagement">
Romero, C. (2014, May). Growth and Fixed Mindsets: What They Are and  Their Consequences. Talk delivered at Hawken School, Cleveland, OH. 
</div>

<div class="speaking-engagement">
Romero, C. (2014, April). Guest Lecture on Intelligence. Talk delivered  during the Psychology One Program, Stanford, CA.
</div>

<div class="speaking-engagement">
Romero, C., Paunesku, D., Yeager, D., Dweck, C. S., &amp; Walton, G. M. (2014, April). Scaling up Social Psychological Interventions. Talk delivered at the annual convention for the American Educational Research Association, Philadelphia, PA.
</div>

<div class="speaking-engagement">
Smith, E., Paunesku, D., &amp; Romero, C. (2014, April). Mindsets Matter  Most When Classes are Challenging. Presentation delivered at the annual convention for the American Educational Research Association, Philadelphia, PA.
</div>

<div class="speaking-engagement">
Walton, G. M., Logel, C., Paunesku, D., Yeager, D., Romero, C., Akcinar, E.,  Brady, S., Jennifer, P., House, A., Spencer, S., Cohen, G. L., &amp; Dweck, C. S. (2014, April). Scaling Social Psychological Interventions: Three Approaches. Panel discussion at the annual convention for the American Educational Research Association, Philadelphia, PA.
</div>


<div class="speaking-engagement">
Farrington, C., Romero, C., Berger, R., &amp; Briceno, E. (2014, March). Experiencing Academic Mindsets. Workshop session at the Deeper Learning Conference, San Diego, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2014, March). Raising Student Achievement by Promoting  Adaptive Academic Mindsets. Workshop session at the Deeper Learning Conference, San Diego, Ca. 
</div>

<div class="speaking-engagement">
Romero, C. (2013, November–2014, March). Panelist on the Deeper Learning  MOOC (DLMOOC) Online Course on putting deeper learning into practice.  
</div>

<div class="speaking-engagement">
Paunesku, D. (2014, February). Changing Mindsets and Beliefs: Helping  Teens Reach Their Potential. Talk delivered at the Learning and the Brain Conference, San Francisco, CA. 
</div>

<div class="speaking-engagement">
Romero, C. (2014, February). Guest Lecture on Intelligence. Talked delivered  during the Psychology One Program, Stanford, CA.  
</div>

<div class="speaking-engagement">
Romero, C. (2014, February). Mindsets: What They Are and How We Can  Change Them. Talk delivered at Brandies Hillel Day School Parent Education Series, San Francisco, CA.  
</div>

<div class="speaking-engagement">
Romero, C., Master, A., Paunesku, D., Gross, J., &amp; Dweck, C. S. (2014, February). Beliefs About Change: How Emotion and Intelligence Beliefs Predict Important Academic and Emotional Trajectories. Symposium session delivered at the annual convention for the Society for Personality and Social Psychology, Austin. TX. 
</div>

<div class="speaking-engagement">
Smith, E., Romero, C., &amp; Paunesku, D. (2014, February). Challenge May  Elucidate Beliefs: A Growth Mindset Better Predicts Academic Success in Difficult Courses. Poster presented at the annual convention for the Society for Personality and Social Psychology, Austin. TX. 
</div>
      
<div class="speaking-engagement">
Beaubien, J. (2014, January). Raising Student Achievement By Promoting Adaptive Beliefs. Talk delivered at the Alliance College-Ready Public Schools Faculty Development Event, Los Angeles, CA.
</div>
      
<div class="speaking-engagement">
Romero, C. (2013, December). Psychological Barriers to Success: Beliefs That  Prevent Students From Reaching Their Potential and How We Can Change Them. MAPP Alumni Webinar.
</div>

<div class="speaking-engagement">
Romero, C. (2013, November). Mindsets: The Power of Beliefs. Talk delivered at Hawken Parent Partnership Event, Cleveland, OH.
</div>

<div class="speaking-engagement">
Romero, C. (2013, October). PERTS: Raising Achievement with Online Psychological Interventions. Talk delivered at the Psychological Interventions in Educational Settings Group, Stanford, CA. 
</div>

<div class="speaking-engagement">
Romero, C. (2013, September). Keynote Address given at University of San Diego Department of Learning and Teaching, San Diego, CA. 
</div>

<div class="speaking-engagement">
Romero, C. (2013, May). Choking Under Pressure: Beliefs that Hold Students Back and How We Can Change Them. Talk delivered at the PNAIS Spring Heads Conference, Union, WA.
</div>

<div class="speaking-engagement">
Paunesku, D., Romero, C., Dweck, C. S., &amp; Walton, G. M. (2013, April). The  Importance of School Contexts for Mindsets about Intelligence. Symposium presentation at the annual convention for the American Educational Research Associations, San Francisco, CA.
</div>

<div class="speaking-engagement">
Paunesku, D., Romero, C., Dweck, C. S., &amp; Walton, G. M. (2013, April). Mindset and Learning Strategy Interventions. Talk delivered at the Middle Schift Convening, Hewlett Foundation, Menlo Park, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2013, April). Raising Student Achievement By Promoting A Growth Mindset. Talk delivered at Deeper Learning Conference, San Diego, CA.
</div>

<div class="speaking-engagement">
Romero, C. &amp; Beaubien, J. (2013, April). Raising Student Achievement By  Promoting Adaptive Beliefs. Talk delivered at a developmental event at Ivy Tech Community College, Muncie, IN.
</div>

<div class="speaking-engagement">
Romero, C. &amp; Beaubien, J. (2013, April). Raising Student Achievement By Promoting Adaptive Beliefs. Talk delivered at Ivy Tech Community College Program Chair Summit, French Lick Springs, IN.
</div>

<div class="speaking-engagement">
Romero, C. (2012, November). Psychological Barriers to Success: Beliefs that Prevent Students From Reaching their Potential and How We Can Change Them. Talk delivered at the Lowell High School Professional Development Workshop, San Francisco, CA.
</div>

<div class="speaking-engagement">
Paunesku, D. &amp; Beaubien, J. (2012, October). The Importance of School Contexts in Changing Students’ Mindsets About Intelligence. Talk delivered at SRATE Conference, Little Rock, AK.
</div>

<div class="speaking-engagement">
Beaubien, J. (2012, August). The Student Perspectives Program: Changing Mindsets for Success. Talk delivered at Santa Monica College Math and Physical Sciences Department, Santa Monica, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2012, June). Psychological Barriers to Success: Beliefs that Prevent Students From Reaching Their Potential And How We Can Change Them. Talk delivered at Peninsula Bridge Pre-Program Professional Development, Palo Alto, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2012, June). The Power of Brief Psychological Programs. Talk delivered at San Ramon Valley High School, Danville, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2012, May). Helping Students Across Difficult Transitions: An Online Platform for Delivering Psychological Interventions. Talk delivered at Stanford-Berkeley-Santa Cruz Talk, Santa Cruz, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2012, April). The Student Perspectives Program: Helping  Students Overcome Psychological Barriers to Success. Talk delivered at Wallenberg High School, San Francisco, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2012, March). The Power of Beliefs About Change. Talk delivered  at Lowell High School: Global Glimpse Group, San Francisco, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2012, March). The Power of Brief Psychological Programs. Professional development talk delivered at BAFLP, Stanford, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2012, March). The Power of Brief Psychological Programs. Talk  delivered at Bay Area Teach For America Conference, San Francisco, CA.
</div>

<div class="speaking-engagement">
Paunesku, D. &amp; Dweck, C. S. (2012, January). Changing Beliefs about  Intelligence: Effects on Beliefs about Effort, Wellbeing, and Achievement. Talk delivered at annual convention for the Society for Personality and Social Psychology, San Diego, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2011, November). Growth Mindset: Helping Students Reach Their  Full Potential. Talk delivered to Broadway Continuation High School Staff Professional Development Day, San Jose, CA.
</div>

<div class="speaking-engagement">
Romero, C. &amp; Paunesku, D. (2011, October). Helping Students Across  Difficult Transitions: An Online Platform for Delivering Psychological Interventions. Talk delivered at Stanford Developmental Brownbag, Stanford, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2011, July). The Power of Brief Psychological Programs.  Experimental Design Thinking Workshop for K-12, San Francisco, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2011, Summer). Introduction to Social Psychology Lecturer. Talk  delivered at Stanford University, Stanford, CA. 
</div>

<div class="speaking-engagement">
Paunesku, D., Romero, C., Walton, G. M, &amp; Dweck, C. S. (2011, June). Raising Academic Achievement Through Social Psychological Intervention: Between-school Differences and Other Considerations for Large-scale Implementation. Presentation delivered at the annual convention for the Canadian Psychological Association, Toronto, Canada.
</div>

<div class="speaking-engagement">
Romero, C., Master, A., Dweck, C. S., &amp; Gross, J. (2011, June). Beliefs About Malleability: Effects on Academic and Affective Outcomes Throughout Middle School. Talk delivered at the Association for Research in Personality, Riverside, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2011, Spring). Lecture on Attachment. Lecture delivered at the Introduction to Developmental Psychology, Stanford, CA.
</div>

<div class="speaking-engagement">
Romero, C., Master, A., Dweck, C. S., &amp; Gross, J. (2011, May). Beliefs About Malleability: Effects on Academic and Affective Outcomes Throughout Middle School. Talk delivered at Berkeley-Stanford-Santa Cruz Annual Developmental Talks, Stanford, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2011, April). Mindsets: The Power of Beliefs. Talk delivered at  Harker High School, San Jose, CA.
</div>

<div class="speaking-engagement">
Romero, C., Paunesku, D., &amp; Dweck, C. S. (2011, April). Brainology in the  Classroom: An Online Growth Mindset Intervention Affects GPA, Conduct, and Implicit Theories. Talk delivered at the Society for Research in Child Development Biennial Meeting, Montreal, Canada.
</div>

<div class="speaking-engagement">
Paunesku, D. (2011, January). Scaling up Psychological Interventions. Talk delivered at the Carnegie Foundation for the Advancement of Teaching, Stanford, CA.
</div>

<div class="speaking-engagement">
Paunesku, D. (2010, December). Beliefs That Affect Achievement and Ways to Change Them. Talk delivered at the Silicon Valley Community Foundation, Mountain View, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2010, September, October). Mindsets of Intelligence. Contemporary Psychology Seminar for Co-Terminal Master’s Students, Stanford, CA.
</div>
  
<div class="speaking-engagement">
Romero, C. (2010, Summer). Introduction to Developmental Psychology Lecturer, Stanford, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2010, July). Mindsets: The Power of Beliefs. Talk delivered at ALearn Middle School Math Students, Stanford, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2009, November). Mindset: How to Welcome and Love  Challenges. Talk delivered at the Impetus Employee Summit, Bay Area, CA.
</div>

<div class="speaking-engagement">
Romero, C. (2009, April). Theories of Intelligence and Theories of Emotion Control: Effects Over an Adolescent Transition. Talk delivered at Stanford Developmental Brownbag, Stanford, CA.
</div>