<footer id="footer" class="clearfix">

  <div class="container">

    <div class="three-fourth">

      <nav id="footer-nav" class="clearfix">

        <ul>
          <li><a href="/PERTS">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/programs">Programs</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
        
      </nav><!-- end #footer-nav -->

      <ul class="contact-info">
        <li class="address">450 Serra Mall, Stanford, CA 94305</li>
        <li class="phone">(650) 241-9056</li>
        <li class="email"><a href="</a></li>
      </ul><!-- end .contact-info -->
      
    </div><!-- end .three-fourth -->

    <div class="one-fourth last">

      <span class="title">Stay connected</span>

      <ul class="social-links">
        <li class="twitter"><a href="http://www.twitter.com/pertslab" target="_blank">Twitter</a></li>
        <li class="facebook"><a href="http://www.facebook.com/pertslab" target="_blank">Facebook</a></li>
        <!--<li class="digg"><a href="#">Digg</a></li>
        <li class="vimeo"><a href="#">Vimeo</a></li>
        <li class="youtube"><a href="#">YouTube</a></li>
        <li class="skype"><a href="#">Skype</a></li>-->
      </ul><!-- end .social-links -->

    </div><!-- end .one-fourth.last -->
    
  </div><!-- end .container -->

</footer><!-- end #footer -->

<footer id="footer-bottom" class="clearfix">

  <div class="container">

    <ul>
      <li>PERTS &copy; 2014</li>
    </ul>

  </div><!-- end .container -->

</footer><!-- end #footer-bottom -->