<header id="header" class="container clearfix">

  <a href="/PERTS" id="logo">
    <img src="/static/home/img/pertslogo.png" alt="PERTS" height="86">
  </a>

  <nav id="main-nav">

    <!-- I know the - in the titles isn't ideal... I can't figure out a good way to do this though... [ES] -->
    <ul>
      <li class="main-level">
        <a href="/" data-description="">Home</a>
      </li>
      <li class="main-level">
        <a href="/about" data-description="">About</a>
                <ul>
                  <li><a href="/contact">Contact</a></li>
                  <li><a class="first_level" href="/about">About PERTS</a></li>
          <li><a href="/about#ongoing">- Ongoing Projects</a></li>
                    <li><a href="/about#results">- Results &amp; Impact</a></li>
                    <li><a href="/about#experiences">- User Experiences</a></li>
                    <li><a href="/about#team">- Team</a></li>
                    <li><a href="/about#partners">- Partner Schools</a></li>
          <li><a href="/about#press">- Press &amp; Presentations</a></li>
                </ul>
      </li>
      <li>
        <a href="/programs" data-description="">Programs</a>
        <ul>
                  <li ><a class="first_level" href="/programs">Programs Overview</a>
          <li><a href="http://info.perts.net/teaching-a-growth-mindset">- High School Transition Program</a></li>

        </ul>
      </li>
      <li>
        <a href="/resources" data-description="">Resources</a>
        <ul>
                  <li ><a class="first_level" href="/resources">Resources Overview</a>
                  <li><a href="/resources#surveys">- Surveys</a></li>
                  <li><a href="/resources#mindsetkit">- Mindset Kit</a></li>
                  <li><a href="/resources#readings">- Readings</a></li>
        </ul>
      </li>
      <!--
      <li class="main-level">
        <a href="/blog" data-description="">Blog</a>
      </li>
      -->
            <li class="main-level">
        <a href="/yellowstone_login" data-description="">Log In</a>
      </li>
            <!-- An old inquiry banner, could be repurposed in the future.-->
            <!--
            <li id="inquiry_banner" class="main-level">
                <a href="http://info.perts.net/teaching-a-growth-mindset">
                    <span>Inquiries for Spring '15</span>
                </a>
            </li>
            -->
    </ul>

  </nav><!-- end #main-nav -->

</header><!-- end #header -->