<a class="{{'active' if template_name == 'about' else ''}}"
   href="/about">About Us</a>
<a class="{{'active' if template_name == 'our-work' else ''}}"
   href="/our-work">Our Work</a>
<a class="{{'active' if template_name == 'resources' else ''}}"
   href="/resources">Resources</a>
<a class="{{'active' if template_name == 'research' else ''}}"
   href="/research">Research</a>
<a class="{{'active' if template_name == 'programs' else ''}}"
   href="/programs">Programs</a>
<a class="{{'active' if template_name == 'contact' else ''}}"
   href="/contact">Contact</a>
<a class="highlighted"
   href="#get-started">{{ cta_text or 'Get Started' }}</a>
